In [1]:
import pandas as pd
from pymongo import MongoClient, GEO2D
import pymongo
import json
import datetime
from bson.son import SON
import folium 
import math
import numpy as np
from IPython.display import display
import bus

In [2]:
#Estableciendo la conexion con la base de datos morte_motoquiro en MongoDB
db = MongoClient().morte_motoquiro_event

In [3]:
#Important: In geoWithin function, if you use longitude and latitude, specify longitude first.
#funcion que recibe un poligono y una coleccion de Mongo y te devuelve todos los puntos de la linea que aquel dia pasaron por aquel poligono
def points_inside_polygon(mongo_collection, inverted_polygon):
    points_inside_polygon = []
    for row in mongo_collection.find ({"latlon": {"$geoWithin": { "$polygon": inverted_polygon }}}).sort("timestamp",pymongo.ASCENDING):
        points_inside_polygon.insert(len(points_inside_polygon), [row[u'timestamp'], row[u'latitude'], row[u'longitude'], row[u'line'], row[u'bus_id']]) 
    df_points_inside_polygon = pd.DataFrame(points_inside_polygon, columns=['timestamp', 'latitude', 'longitude', 'line', 'bus_id'])
    return df_points_inside_polygon

In [4]:
#Poligono tramo 2-5
Punto2 = (-22.960298,-43.204346)
Punto5 = (-22.974325,-43.22625)
#inverted_polygon_2_5
T = (-22.974577,-43.226631)
inverted_T = (-43.226631,-22.974577)
V = (-22.974654,-43.225901)
inverted_V = (-43.225901,-22.974654)
W = (-22.961393,-43.215076)
inverted_W = (-43.215076,-22.961393)
X = (-22.961897,-43.214658)
inverted_X = (-43.214658,-22.961897)
Y = (-22.960128,-43.2041)
inverted_Y = (-43.2041,-22.960128)
Z = (-22.960484,-43.204015)
inverted_Z = (-43.204015,-22.960484)
inverted_polygon_2_5 = [inverted_V,inverted_T,inverted_W,inverted_Y,inverted_Z,inverted_X]

In [8]:
#Funcion que recibe un dataframe con todas las observaciones de un único bus_id de un line que están dentro de un poligono
#retorna una lista con los indices de donde termina cada viaje de ese bus_id dentro del poligono
def travels_indices(points_in_polygon):
    import datetime
    start_travel_vector = []
    #reindexar el dataframe para si no tiene el indice en orden, pues ponerselo
    points_in_polygon.index = range(0,len(points_in_polygon))
    
    for i in range(0, len(points_in_polygon)-1):
        resto = datetime.datetime.strptime(points_in_polygon['timestamp'][i+1], "%d-%m-%Y %H:%M:%S")-datetime.datetime.strptime(points_in_polygon['timestamp'][i], "%d-%m-%Y %H:%M:%S")
        resto_minutes = resto.total_seconds()/60
        #si la diferencia entre los timestamp del omnibus en el putno supera los 40 minutos es q dio un viaje y regreso, sino lo supera es que se mantuvo ese tiempo esperando en el punto
        if (resto_minutes > 40):
            start_travel_vector.insert(len(start_travel_vector),i)
    start_travel_vector.insert(len(start_travel_vector),len(points_in_polygon)-1)
    return start_travel_vector

In [10]:
#funcion que te calcula la distancia de todos los puntos dentro del poligono con respecto a un punto P
def new_column_distance_to_point(df_inside_polygon,point1,point2):
    from scipy.spatial import distance
    dist_vector = []
    dist_vector1 = []
    
    #creando una nueva columna al dataframe "latlon" que es la union de las columnas latitude y longitude
    df_inside_polygon['latlon'] = zip(df_inside_polygon.latitude, df_inside_polygon.longitude)
    
    for i in range(0,len(df_inside_polygon)):
        dist_vector.insert(len(dist_vector),distance.euclidean(df_inside_polygon['latlon'][i],point1))
        dist_vector1.insert(len(dist_vector1),distance.euclidean(df_inside_polygon['latlon'][i],point2))

    #si la columna 'distance' no existe, creala e inserta en ella los valores q están en el arreglo dist_vector
    if not 'distance_to_point1' in df_inside_polygon:
        newName = 'distance_to_point1'
        values = np.insert(df_inside_polygon.values,df_inside_polygon.shape[1],dist_vector,axis=1)
        header = df_inside_polygon.columns.values.tolist()
        header.append(newName)
        df_inside_polygon = pd.DataFrame(values,columns=header)
    
    if not 'distance_to_point2' in df_inside_polygon:
        newName = 'distance_to_point2'
        values = np.insert(df_inside_polygon.values,df_inside_polygon.shape[1],dist_vector1,axis=1)
        header = df_inside_polygon.columns.values.tolist()
        header.append(newName)
        df_inside_polygon = pd.DataFrame(values,columns=header)
    
    return df_inside_polygon

In [54]:
#funcion que dado un viaje retorna un dataframe con todas las observaciones del viaje si va en la direccion opuesta de un punto P
def direc(travel_inside_polygon):
    vector_dir = []
    
    if (len(travel_inside_polygon)<3):
        df_travel = pd.DataFrame(vector_dir, columns=['travel_index', 'timestamp', 'latlon', 'line', 'bus_id','distance_to_point1','distance_to_point2'])
        return df_travel
    
    else:
        indexes = list(travel_inside_polygon.index)

        #reindexando travel_inside_polygon 
        travel_inside_polygon.index = range(0,len(travel_inside_polygon))

        for i in range(0, len(travel_inside_polygon)):

            if (i+2 < len(travel_inside_polygon)):
                if((travel_inside_polygon['distance_to_point1'][i] < travel_inside_polygon['distance_to_point1'][i+1]) & (travel_inside_polygon['distance_to_point1'][i+1] < travel_inside_polygon['distance_to_point1'][i+2]))& ((travel_inside_polygon['distance_to_point2'][i] > travel_inside_polygon['distance_to_point2'][i+1]) & (travel_inside_polygon['distance_to_point2'][i+1] > travel_inside_polygon['distance_to_point2'][i+2])):
                    vector_dir.insert (len(vector_dir),[indexes[i],travel_inside_polygon['timestamp'][i],travel_inside_polygon['latlon'][i],travel_inside_polygon['line'][i],travel_inside_polygon['bus_id'][i],travel_inside_polygon['distance_to_point1'][i],travel_inside_polygon['distance_to_point2'][i]])

            elif (i == len(travel_inside_polygon)-2):
                if(travel_inside_polygon['distance_to_point1'][i] < travel_inside_polygon['distance_to_point1'][i+1])& (travel_inside_polygon['distance_to_point2'][i] > travel_inside_polygon['distance_to_point2'][i+1]):
                    vector_dir.insert (len(vector_dir),[indexes[i],travel_inside_polygon['timestamp'][i],travel_inside_polygon['latlon'][i],travel_inside_polygon['line'][i],travel_inside_polygon['bus_id'][i],travel_inside_polygon['distance_to_point1'][i],travel_inside_polygon['distance_to_point2'][i]])

            elif(i == len(travel_inside_polygon)-1):
                if(travel_inside_polygon['distance_to_point1'][i] > travel_inside_polygon['distance_to_point1'][i-1]) & (travel_inside_polygon['distance_to_point2'][i] < travel_inside_polygon['distance_to_point2'][i-1]):
                    vector_dir.insert (len(vector_dir),[indexes[i],travel_inside_polygon['timestamp'][i],travel_inside_polygon['latlon'][i],travel_inside_polygon['line'][i],travel_inside_polygon['bus_id'][i],travel_inside_polygon['distance_to_point1'][i],travel_inside_polygon['distance_to_point2'][i]])

        df_travel = pd.DataFrame(vector_dir, columns=['travel_index', 'timestamp', 'latlon', 'line', 'bus_id','distance_to_point1','distance_to_point2'])

    return  df_travel

In [15]:
#Funcion que recibe un dataframe con todas las observaciones de un viaje, el nombre del pto de inicio y nombre pto fin
#Retorna un dataframe con el tiempo de viaje 
def time_compute (df_travel, name_punto_inicio, name_punto_fin):
    nearest_ini = []
    nearest_fin = []
    time_table = []
    
    for i in range(0,len(df_travel)):
        #seleccionando todas las obeservaciones que están a menos de 200 metros de distancia del punto inicial 
        # 0.001903852= 200m, 0.00285617 = 300m
        if (df_travel['distance_to_point1'][i] < 0.00285617):
            nearest_ini.insert(len(nearest_ini),df_travel['distance_to_point1'][i])
            nearest_ini.sort()#se ordenan de menor a mayor distancia del punto2 
        
        #seleccionando todas las obeservaciones que están a menos de 200 metros de distancia del punto inicial 
        # 0.001903852= 200m
        if (df_travel['distance_to_point2'][i] < 0.00285617):
            nearest_fin.insert(len(nearest_fin),df_travel['distance_to_point2'][i])
            nearest_fin.sort()#se ordenan de menor a mayor distancia del punto2 
    
    #comprobando que haya al menos una observacion proxima al pto incial y una al punto final
    #es decir que los arreglos nearest_ini and nearest_fin no estén vacios
    if (nearest_ini and nearest_fin):
        #se guarda toda la tupla de menor distancia al punto1
        travel_start = df_travel[(df_travel['distance_to_point1'] == nearest_ini[0])]
        #recuperando el indice de la tupla   travel_start
        index1 = travel_start.index.values[0] 
        #hora que salio el omnibus del punto inicial del segmento
        initial_hour = travel_start ['timestamp'][index1]
        #convertir la hora de inicio de string a tipo datetime
        initial_hour = datetime.datetime.strptime(initial_hour, "%d-%m-%Y %H:%M:%S")

        #se guarda toda la tupla del de menor distancia al punto2
        travel_end = df_travel[(df_travel['distance_to_point2'] == nearest_fin[0])]
        #recuperando el indice de la tupla travel_end
        index2 = travel_end.index.values[0]  
        #hora que llegó el omnibus al punto final del segment
        final_hour = travel_end ['timestamp'][index2]
        #convertir la hora de fin de string a tipo datetime
        final_hour = datetime.datetime.strptime(final_hour, "%d-%m-%Y %H:%M:%S")
        
        #computando el tiempo de viaje
        travel_time = final_hour - initial_hour
        travel_time_in_minutes = travel_time.total_seconds()/60
        
        bus_line = travel_start ['line'][index1]
        bus_Id = travel_start ['bus_id'][index1]
        direction = name_punto_inicio + "_to_" + name_punto_fin
         
        time_table.insert(len(time_table), [bus_line, bus_Id, direction, initial_hour, final_hour, travel_time_in_minutes])
               
    
    #Construir el dataframe   
    mydf = pd.DataFrame(time_table, columns=['Line', 'Bus_Id','Segment', 'Arrive_Hour', 'Departure_Hour', 'Travel_Segment_Time'])       
    return mydf

In [55]:
#Funcion que recibe un dataframe con un conjunto de viajes(de un bus_id de un bus line) dentro del tramo y una lista de indices q separan los viajes
#ese dataframe de entrada ya tiene la columna 'distance_to_point'
#retorna un dataframe con aquellos viajes que van en el sentido deseado
#retorna un dataframe con el tiempo de viaje de aquellos que están en el sentido deseado

def travels_desired_direction(df_line_busid_inside_pol, travel_indexes_list,name_punto_inicio, name_punto_fin):
    df_dir_ok = pd.DataFrame(columns=['travel_index', 'timestamp', 'latlon', 'line', 'bus_id','distance_to_point1','distance_to_point2'])
    df_result = pd.DataFrame(columns=['travel_index', 'timestamp', 'latlon', 'line', 'bus_id','distance_to_point1','distance_to_point2'])
    df_total_travels_time = pd.DataFrame(columns=['Line', 'Bus_Id','Segment', 'Arrive_Hour', 'Departure_Hour', 'Travel_Segment_Time'])       

    
    for i in range(0,len(travel_indexes_list)):
        if (i == 0):
            a = 0

        else:
            a = b

        b = travel_indexes_list[i]+1
        #si a == b, significa q hubo un solo viaje y se llamaria [23:23] lo que no es posible, ahi se debe llamar [23:]
        if (a == b):
            travel = df_line_busid_inside_pol[a:]
        else:
            travel = df_line_busid_inside_pol[a:b]
        
        df_result = direc(travel)

        if not df_result.empty:
            df_dir_ok = df_dir_ok.append(df_result, ignore_index = True)
            #Computame el tiempo de viaje
            df_travel_time = time_compute(df_result, name_punto_inicio, name_punto_fin)
            df_total_travels_time = df_total_travels_time.append(df_travel_time, ignore_index = True)
    
    return df_total_travels_time#,df_dir_ok

In [269]:
#Funcion que crea la tabla de viajes con los tiempos de viaje
def segment_travel_table (name_A, arrive_array_A, name_B, departure_array_B, bus_Id, bus_line):
    
    my_time_table = []   
    num_travel = 0    
    i = 0 #Cursor para moverme por el departure_array_A(arreglo q contiene las horas de salida del punto incial)   
    
   
    while (i<len(departure_array_B)-1):
        if (arrive_array_A[i] <= departure_array_B[i]):
            direction = name_A + "_to_" + name_B
            departure_hour = departure_array_B[i]
            arrive_hour = arrive_array_A[i]
            #travel_time = bus.days_hours_minutes(departure_hour - arrive_hour) 
            #computando el tiempo de viaje
            travel_time = departure_hour - arrive_hour
            travel_time_in_minutes = travel_time.total_seconds()/60
                        
            i = i +1
            my_time_table.insert(len(my_time_table), [bus_line, bus_Id, direction, arrive_hour, departure_hour, travel_time_in_minutes])
                        
    
    #Construir el dataframe pasandole el array con todos los datos de los viajes   
    mydf = pd.DataFrame(my_time_table, columns=['Line', 'Bus_Id','Segment', 'Arrive_Hour', 'Departure_Hour', 'Travel_Segment_Time'])       
    return mydf

In [20]:
#lo estoy usando solo para viajes de un solo sentido
def bus_departure_hour(initial_points_timestamp_list):
    list_departure_hours = []
    i = 0
    if len(initial_points_timestamp_list) >1:
        for i in range(0, len(initial_points_timestamp_list)-1):
            resto = datetime.datetime.strptime(initial_points_timestamp_list[i+1], "%d-%m-%Y %H:%M:%S")-datetime.datetime.strptime(initial_points_timestamp_list[i], "%d-%m-%Y %H:%M:%S")
            resto_total = resto.total_seconds()/60
            #si la diferencia entre los timestamp del omnibus en el putno supera los 40 minutos es q dio un viaje y regreso, sino lo supera es que se mantuvo ese tiempo esperando en el punto
            if (resto_total > 40):
                 list_departure_hours.insert(len( list_departure_hours),datetime.datetime.strptime(initial_points_timestamp_list[i], "%d-%m-%Y %H:%M:%S"))
        #siempre es necesario insertar el ultimo valor de la lista de "initial_points_timestamp" en la lista de  list_departure_hours 
        list_departure_hours.insert(len( list_departure_hours),datetime.datetime.strptime(initial_points_timestamp_list[i+1], "%d-%m-%Y %H:%M:%S"))
    elif len(initial_points_timestamp_list) == 1:
        list_departure_hours.insert(len( list_departure_hours),datetime.datetime.strptime(initial_points_timestamp_list[0], "%d-%m-%Y %H:%M:%S"))
    else:
        list_departure_hours = []
    return list_departure_hours

In [21]:
#lo estoy usando solo para viajes de un solo sentido
#Funcion que retorna el arreglo con las horas de llegada del omnibus al punto inicial/final del trayecto
def bus_arrive_hour(initial_points_timestamp_list):
    list_arrive_hours = []
    #siempre es necesario insertar el ultimo valor de la lista de "initial_points_timestamp" en la lista de leblon_departure_hours 
    if len(initial_points_timestamp_list) >1:
        list_arrive_hours.insert(len(list_arrive_hours),datetime.datetime.strptime(initial_points_timestamp_list[0], "%d-%m-%Y %H:%M:%S"))
        for i in range(0, len(initial_points_timestamp_list)-1):
            resto = datetime.datetime.strptime(initial_points_timestamp_list[i+1], "%d-%m-%Y %H:%M:%S")-datetime.datetime.strptime(initial_points_timestamp_list[i], "%d-%m-%Y %H:%M:%S")
            resto_total = resto.total_seconds()/60
            if (resto_total > 40):
                list_arrive_hours.insert(len(list_arrive_hours),datetime.datetime.strptime(initial_points_timestamp_list[i+1], "%d-%m-%Y %H:%M:%S"))
    elif (len(initial_points_timestamp_list) == 1):
        list_arrive_hours.insert(len(list_arrive_hours),datetime.datetime.strptime(initial_points_timestamp_list[0], "%d-%m-%Y %H:%M:%S"))
    else:
        list_arrive_hours = []        
    return list_arrive_hours

In [255]:
#Funcion que dada un string de connexion, un poligono y una lista de onmibus que pasan por aquel poligono
#Retorna el tiempo que demora cada bus_id en atravesar el tramo dentro del poligono
def for_one_way_street(conn_string, inverted_polygon, bus_line_list, punto_inicio, punto_fin):
    import bus
    new_df = pd.DataFrame(columns=['Line', 'Bus_Id','Segment', 'Arrive_Hour', 'Departure_Hour', 'Travel_Segment_Time']) 
   
    #Retorna todos las observaciones de todos las lineas que pasaron por el segmento aquel dia
    df_points_in_segment = points_inside_polygon(conn_string, inverted_polygon)
    
    #después que ya se determinaron los viajes en el sentido deseado
    for line in bus_line_list:
        #Recuperando las observaciones dentro del segmento por línea
        df_buslines_inside_polygon = df_points_in_segment[(df_points_in_segment['line']== line)]
        
        df_buslines_inside_polygon.groupby('line').bus_id.nunique()
        bus_id_list = pd.unique(df_buslines_inside_polygon.bus_id.ravel())
        myentry = []
        myout = []
        for bus_id in bus_id_list:
            df_busId_inside_polygon = df_buslines_inside_polygon[(df_buslines_inside_polygon['bus_id']== bus_id)]
            timestamp_busId_inside_polygon = df_busId_inside_polygon ['timestamp']
            timestamp_busId_inside_polygon.index = range(0,len(timestamp_busId_inside_polygon))
            #uso las funciones bus bus_arrive_hour y bus_departure_hour para delimitar los viajes
            myentry = bus.bus_arrive_hour(timestamp_busId_inside_polygon)
            myout = bus.bus_departure_hour(timestamp_busId_inside_polygon)
            result = segment_travel_table(punto_inicio, myentry, punto_fin, myout, bus_id, line)
            new_df = new_df.append(result, ignore_index = True)
            
    return new_df

In [56]:
#Funcion que dado un fecha, un dataframe con todos las observaciones dentro de un poligono,
#lista de omnibus coorespondientes al tramo y un punto
#Retorna un dataframe con todos los viajes que van el sentido opuesto a ese punto
def for_two_way_streets(conn_string, inverted_polygon, bus_line_list, coord_initial_point,coord_final_point, punto_inicio, punto_fin):
    import bus
    new_df = pd.DataFrame(columns=['Line', 'Bus_Id','Segment', 'Arrive_Hour', 'Departure_Hour', 'Travel_Segment_Time'])
    df_timestamp_desired_direction = pd.DataFrame(columns=['timestamp'])
    
    #Retorna todos las observaciones de todos las lineas que pasaron por el segmento aquel dia
    df_points_in_segment = points_inside_polygon(conn_string, inverted_polygon)
    
    #después que ya se determinaron los viajes en el sentido deseado
    for line in bus_line_list:
        
        df_busId_inside_polygon_dist = []
        #Recuperando las observaciones dentro del segmento por línea
        df_buslines_inside_polygon = df_points_in_segment[(df_points_in_segment['line']== line)]
        #df_buslines_inside_polygon = df_points_in_segment[(df_points_in_segment['line']== '309')]
        
        df_buslines_inside_polygon.groupby('line').bus_id.nunique()
        bus_id_list = pd.unique(df_buslines_inside_polygon.bus_id.ravel())
                
        myinput= []
        myout = []
        for bus_id in bus_id_list:
            
            df_busId_inside_polygon = df_buslines_inside_polygon[(df_buslines_inside_polygon['bus_id']== bus_id)]
            travel_index_list = travels_indices(df_busId_inside_polygon)
            
            #adiciono la columna distancia al punto al dataframe df_busId_inside_polygon
            df_busId_inside_polygon_dist = new_column_distance_to_point(df_busId_inside_polygon,coord_initial_point, coord_final_point)
            
            #seleccionando solo los viajes que van en la direccion deseada (alejandose del punto inicial)
            
            #df_busId_C41383 = df_busId_inside_polygon_dist[(df_busId_inside_polygon_dist['bus_id']== 'C41383')]
            desired_direction_travels = travels_desired_direction(df_busId_inside_polygon_dist, travel_index_list,punto_inicio, punto_fin)

            #print desired_direction_travels
  
            new_df = new_df.append(desired_direction_travels, ignore_index = True)
            
                    
    return new_df

In [256]:
#Funcion que retorna un dataframe con los tiempos que demora cada busId en atravesar el segmento entre el punto_inicio y punto_fin
def segment_travel_time(coord_initial_point,coord_final_point, punto_inicio, punto_fin, date):
    import bus    
    if (date == '27-07-2015'):
        conn_string = db.dados20150727
        #conn_string = db.dados20150727_line_110
    if (date == '03-08-2015'):
        conn_string = db.dados20150803
    if (date == '10-08-2015'):
        conn_string = db.dados20150810
    if (date == '17-08-2015'):
        conn_string = db.dados20150817 
    
    if (punto_inicio == "punto3") and (punto_fin == "punto6"):
        inverted_polygon = inverted_polygon_3_6
        bus_line_list = ['110','111','162','172','177','460','476','570']
        #bus_line_list = ['110','111','162']
        segment_traverse_time = for_one_way_street(conn_string, inverted_polygon, bus_line_list, punto_inicio, punto_fin)
        #segment_traverse_time = for_two_way_streets(conn_string, inverted_polygon, bus_line_list, coord_initial_point, coord_final_point, punto_inicio, punto_fin)
        
    if (punto_inicio == "punto1") and (punto_fin == "punto4"):
        inverted_polygon = inverted_polygon_1_4
        bus_line_list = ['172','177','178','309','316','317','550','565']
        segment_traverse_time = for_two_way_streets(conn_string, inverted_polygon, bus_line_list, coord_initial_point, coord_final_point, punto_inicio, punto_fin)
        
    if (punto_inicio == "punto2") and (punto_fin == "punto5"):
        inverted_polygon = inverted_polygon_2_5
        #bus_line_list = ['170','172','173','178','309','316','317','410']
        bus_line_list = ['178','309','316','317']
        segment_traverse_time = for_two_way_streets(conn_string, inverted_polygon, bus_line_list, coord_initial_point, coord_final_point, punto_inicio, punto_fin)
             
    return segment_traverse_time

In [270]:
#Intervalos de tiempos del dia para graficar teniendo en cuenta los promedios de tiempo de viaje por intervalos
intervals = ['00:00:00', '05:00:00', '06:00:00', '07:00:00', '08:00:00', 
             '09:00:00', '10:00:00', '11:00:00', '12:00:00', '13:00:00',
             '14:00:00', '15:00:00', '16:00:00', '17:00:00', '19:00:00', 
             '20:00:00', '21:00:00', '22:00:00', '23:00:00', '23:59:59']

In [273]:
#Funcion para separar la hora de la fecha en la columna Arrive_Hour
def convert_to_hour(column):
    from datetime import datetime
    list_time = []
    for row in column:
        str_row = str(row)
        split_time_array = str_row.split(' ')
        t_time = datetime.strptime(split_time_array[1], '%H:%M:%S').time()
        list_time.insert(len(list_time),t_time)
    return list_time

In [271]:
#Funcion que recibe una dataframe con los travel time, una lista de intervalos
#Retorna un dataframe del promedio del tiempo de viaje por intervalo
def mean_travel_time(df_travel_time, day_hours_interval):
    
    segment = df_travel_time['Segment'][0]
    #convertir a formato datetime la columna 'Arrive_Hour'
    array_hours = convert_to_hour(df_travel_time['Arrive_Hour'])
    
    #crear una columna para almacenar el formato datetime    
    if not 'Arrive_Hour_datetime' in df_travel_time:
        newName = 'Arrive_Hour_datetime'
        values = np.insert(df_travel_time.values,df_travel_time.shape[1],array_hours,axis=1)
        header = df_travel_time.columns.values.tolist()
        header.append(newName)
        df_travel_time = pd.DataFrame(values,columns=header)
    
    #convertir el arreglo "day_hours_interval" a formato datetime
    temp_array = []
    for i in range(0,len(day_hours_interval)):
        temp_array.insert(len(temp_array),datetime.strptime(day_hours_interval[i], '%H:%M:%S').time()) 
    
    mean_travel_time = []
    count = 0
    for j in range(0,len(day_hours_interval)-1):
        df_temp = df_travel_time[(df_travel_time['Arrive_Hour_datetime']>= temp_array[j])& (df_travel_time['Arrive_Hour_datetime']< temp_array[j+1])]
        suma = 0
        for i in range(count, len(df_temp)+count):
            suma = suma + df_temp['Travel_Segment_Time'][i]
            count = count + 1
        if (len(df_temp)> 0):
            mean_time = suma/len(df_temp)
        else:  
            mean_time = 0
            
        time_interval = str(temp_array[j]) + ' - '+ str(temp_array[j+1])
        mean_travel_time.insert(len(mean_travel_time), [segment, time_interval, mean_time])
    
    df_mean_travel_time = pd.DataFrame(mean_travel_time,columns=['Segment','Time_Interval', 'Mean_Travel_Time'])
    return df_mean_travel_time

In [ ]:
#Comenzar a Rodar los algoritmos

In [235]:
#Tramo a analizar 3-6
Punto3 = (-22.985378 , -43.222884)
Punto6 = (-22.978312 , -43.224818)

#Polygon ABCDEFGHI
A = (-22.985311, -43.222353)
inverted_A = ( -43.222353, -22.985311)

B = (-22.985469, -43.223203)
inverted_B = (-43.223203, -22.985469)

C = (-22.981481, -43.224024)
inverted_C = (-43.224024, -22.981481)

D = (-22.981360, -43.223656)
inverted_D = (-43.223656, -22.981360)

E = (-22.980441, -43.223439)
inverted_E = (-43.223439, -22.980441)

F = (-22.978970, -43.223852)
inverted_F = (-43.223852, -22.978970)

G = (-22.979118, -43.224732)
inverted_G = (-43.224732, -22.979118)

H = (-22.978190, -43.224399)
inverted_H = ( -43.224399, -22.978190)

I = (-22.978269, -43.225)
inverted_I = (-43.225, -22.978269)

inverted_polygon_3_6 = [inverted_A, inverted_B, inverted_C, inverted_D, inverted_E, inverted_F, inverted_I, inverted_I]

In [257]:
#testing para tramo de un solo sentido
a_27072015_3_6 = segment_travel_time(Punto3,Punto6,"punto3", "punto6", '27-07-2015')
#Se necesita ordenarla para poder graficarla
sorted_a_27072015_3_6 = a_27072015_3_6.sort(["Arrive_Hour"])
sorted_a_27072015_3_6

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
278,460,A41033,punto3_to_punto6,2015-07-27 00:12:54,2015-07-27 00:16:59,4.083333
203,172,A41319,punto3_to_punto6,2015-07-27 00:22:54,2015-07-27 00:24:04,1.166667
0,110,A41444,punto3_to_punto6,2015-07-27 01:06:04,2015-07-27 01:08:45,2.683333
208,172,A41302,punto3_to_punto6,2015-07-27 01:27:55,2015-07-27 01:27:55,0.000000
279,460,A41033,punto3_to_punto6,2015-07-27 01:52:07,2015-07-27 01:53:52,1.750000
204,172,A41319,punto3_to_punto6,2015-07-27 02:01:59,2015-07-27 02:01:59,0.000000
1,110,A41444,punto3_to_punto6,2015-07-27 02:28:57,2015-07-27 02:28:57,0.000000
280,460,A41033,punto3_to_punto6,2015-07-27 03:13:46,2015-07-27 03:15:31,1.750000
2,110,A41444,punto3_to_punto6,2015-07-27 03:57:55,2015-07-27 03:59:05,1.166667
4,110,A41158,punto3_to_punto6,2015-07-27 04:52:47,2015-07-27 04:53:58,1.183333
281,460,A41026,punto3_to_punto6,2015-07-27 04:53:50,2015-07-27 04:53:50,0.000000
285,460,A41014,punto3_to_punto6,2015-07-27 04:59:36,2015-07-27 05:01:56,2.333333
295,460,A41051,punto3_to_punto6,2015-07-27 05:04:01,2015-07-27 05:04:36,0.583333
11,110,A41236,punto3_to_punto6,2015-07-27 05:07:50,2015-07-27 05:09:35,1.750000
304,460,A41180,punto3_to_punto6,2015-07-27 05:15:30,2015-07-27 05:17:15,1.750000
17,110,A41166,punto3_to_punto6,2015-07-27 05:19:37,2015-07-27 05:21:41,2.066667
558,476,A29139,punto3_to_punto6,2015-07-27 05:24:57,2015-07-27 05:26:57,2.000000
212,172,A55004,punto3_to_punto6,2015-07-27 05:27:17,2015-07-27 05:29:17,2.000000
23,110,A41299,punto3_to_punto6,2015-07-27 05:34:44,2015-07-27 05:36:29,1.750000
139,162,A37623,punto3_to_punto6,2015-07-27 05:35:16,2015-07-27 05:35:16,0.000000
105,111,A41103,punto3_to_punto6,2015-07-27 05:40:01,2015-07-27 05:41:47,1.766667
316,460,A41056,punto3_to_punto6,2015-07-27 05:41:50,2015-07-27 05:43:36,1.766667
29,110,A41039,punto3_to_punto6,2015-07-27 05:42:56,2015-07-27 05:44:06,1.166667
331,460,A41032,punto3_to_punto6,2015-07-27 05:43:03,2015-07-27 05:44:48,1.750000
565,476,A29111,punto3_to_punto6,2015-07-27 05:43:13,2015-07-27 05:45:43,2.500000
337,460,A41002,punto3_to_punto6,2015-07-27 05:46:48,2015-07-27 05:47:23,0.583333
286,460,A41014,punto3_to_punto6,2015-07-27 05:48:00,2015-07-27 05:49:44,1.733333
31,110,A41163,punto3_to_punto6,2015-07-27 05:49:44,2015-07-27 05:51:30,1.766667
569,476,A29086,punto3_to_punto6,2015-07-27 05:50:38,2015-07-27 05:53:41,3.050000
296,460,A41051,punto3_to_punto6,2015-07-27 05:55:47,2015-07-27 05:56:56,1.150000
...,...,...,...,...,...,...
406,460,A41043,punto3_to_punto6,2015-07-27 19:36:08,2015-07-27 19:40:48,4.666667
343,460,A41002,punto3_to_punto6,2015-07-27 19:36:34,2015-07-27 19:42:59,6.416667
581,476,A29158,punto3_to_punto6,2015-07-27 19:41:20,2015-07-27 19:42:21,1.016667
528,460,A41212,punto3_to_punto6,2015-07-27 19:41:47,2015-07-27 19:44:42,2.916667
664,570,A37648,punto3_to_punto6,2015-07-27 19:45:12,2015-07-27 19:49:47,4.583333
382,460,A41100,punto3_to_punto6,2015-07-27 19:50:03,2015-07-27 19:53:33,3.500000
250,172,A55157,punto3_to_punto6,2015-07-27 19:51:28,2015-07-27 19:51:58,0.500000
619,476,A29152,punto3_to_punto6,2015-07-27 19:53:49,2015-07-27 19:56:21,2.533333
427,460,A41071,punto3_to_punto6,2015-07-27 19:54:48,2015-07-27 19:56:33,1.750000
189,162,A37691,punto3_to_punto6,2015-07-27 20:00:32,2015-07-27 20:01:32,1.000000
328,460,A41056,punto3_to_punto6,2015-07-27 20:06:49,2015-07-27 20:09:44,2.916667
639,570,A37578,punto3_to_punto6,2015-07-27 20:07:40,2015-07-27 20:07:40,0.000000
672,570,A37632,punto3_to_punto6,2015-07-27 20:15:25,2015-07-27 20:17:25,2.000000
453,460,A41276,punto3_to_punto6,2015-07-27 20:26:45,2015-07-27 20:26:45,0.000000
303,460,A41051,punto3_to_punto6,2015-07-27 20:31:01,2015-07-27 20:33:56,2.916667
656,570,A37642,punto3_to_punto6,2015-07-27 20:38:13,2015-07-27 20:40:43,2.500000
482,460,A41038,punto3_to_punto6,2015-07-27 20:38:47,2015-07-27 20:40:32,1.750000
630,476,A29167,punto3_to_punto6,2015-07-27 20:39:36,2015-07-27 20:43:09,3.550000
370,460,A41053,punto3_to_punto6,2015-07-27 20:46:59,2015-07-27 20:50:20,3.350000
497,460,A41193,punto3_to_punto6,2015-07-27 20:49:49,2015-07-27 20:53:54,4.083333
407,460,A41043,punto3_to_punto6,2015-07-27 20:53:43,2015-07-27 20:56:34,2.850000
614,476,A29076,punto3_to_punto6,2015-07-27 21:03:30,2015-07-27 21:05:35,2.083333
556,460,A41011,punto3_to_punto6,2015-07-27 21:05:51,2015-07-27 21:07:09,1.300000
383,460,A41100,punto3_to_punto6,2015-07-27 21:06:41,2015-07-27 21:09:37,2.933333
680,570,A37674,punto3_to_punto6,2015-07-27 21:20:24,2015-07-27 21:23:24,3.000000
329,460,A41056,punto3_to_punto6,2015-07-27 21:20:46,2015-07-27 21:23:41,2.916667
498,460,A41193,punto3_to_punto6,2015-07-27 21:34:50,2015-07-27 21:37:47,2.950000
557,460,A41011,punto3_to_punto6,2015-07-27 21:53:01,2015-07-27 21:54:47,1.766667
3,110,A41444,punto3_to_punto6,2015-07-27 22:12:48,2015-07-27 22:14:50,2.033333
330,460,A41056,punto3_to_punto6,2015-07-27 22:27:04,2015-07-27 22:31:09,4.083333

In [258]:
a_03082015_3_6 = segment_travel_time(Punto3,Punto6,"punto3", "punto6", '03-08-2015')
sorted_a_03082015_3_6 = a_03082015_3_6.sort(["Arrive_Hour"])
sorted_a_03082015_3_6

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
252,460,A41187,punto3_to_punto6,2015-08-03 00:17:58,2015-08-03 00:19:08,1.166667
0,110,A41444,punto3_to_punto6,2015-08-03 01:07:16,2015-08-03 01:11:08,3.866667
253,460,A41187,punto3_to_punto6,2015-08-03 01:46:03,2015-08-03 01:47:13,1.166667
1,110,A41444,punto3_to_punto6,2015-08-03 02:26:55,2015-08-03 02:28:02,1.116667
254,460,A41187,punto3_to_punto6,2015-08-03 03:20:04,2015-08-03 03:21:49,1.750000
2,110,A41244,punto3_to_punto6,2015-08-03 04:50:46,2015-08-03 04:50:46,0.000000
263,460,A41026,punto3_to_punto6,2015-08-03 04:56:10,2015-08-03 04:57:20,1.166667
274,460,A41014,punto3_to_punto6,2015-08-03 05:02:12,2015-08-03 05:03:22,1.166667
7,110,A41158,punto3_to_punto6,2015-08-03 05:03:54,2015-08-03 05:05:01,1.116667
13,110,A41166,punto3_to_punto6,2015-08-03 05:14:07,2015-08-03 05:16:22,2.250000
282,460,A41071,punto3_to_punto6,2015-08-03 05:23:00,2015-08-03 05:24:09,1.150000
528,476,A29139,punto3_to_punto6,2015-08-03 05:28:55,2015-08-03 05:30:55,2.000000
291,460,A41180,punto3_to_punto6,2015-08-03 05:31:12,2015-08-03 05:32:57,1.750000
137,162,A37623,punto3_to_punto6,2015-08-03 05:31:36,2015-08-03 05:31:36,0.000000
19,110,A41236,punto3_to_punto6,2015-08-03 05:32:49,2015-08-03 05:35:09,2.333333
533,476,A29082,punto3_to_punto6,2015-08-03 05:36:55,2015-08-03 05:36:55,0.000000
301,460,A41038,punto3_to_punto6,2015-08-03 05:44:02,2015-08-03 05:46:56,2.900000
25,110,A41159,punto3_to_punto6,2015-08-03 05:45:00,2015-08-03 05:46:11,1.183333
312,460,A41033,punto3_to_punto6,2015-08-03 05:46:12,2015-08-03 05:48:32,2.333333
30,110,A41163,punto3_to_punto6,2015-08-03 05:47:24,2015-08-03 05:50:12,2.800000
539,476,A29158,punto3_to_punto6,2015-08-03 05:48:00,2015-08-03 05:50:32,2.533333
318,460,A41186,punto3_to_punto6,2015-08-03 05:48:08,2015-08-03 05:50:28,2.333333
275,460,A41014,punto3_to_punto6,2015-08-03 05:50:13,2015-08-03 05:51:57,1.733333
264,460,A41026,punto3_to_punto6,2015-08-03 05:50:21,2015-08-03 05:52:06,1.750000
181,172,A55077,punto3_to_punto6,2015-08-03 05:52:17,2015-08-03 05:53:47,1.500000
326,460,A41023,punto3_to_punto6,2015-08-03 05:54:15,2015-08-03 05:57:10,2.916667
96,111,A41078,punto3_to_punto6,2015-08-03 05:55:19,2015-08-03 05:58:03,2.733333
36,110,A41299,punto3_to_punto6,2015-08-03 05:56:18,2015-08-03 05:58:05,1.783333
337,460,A41065,punto3_to_punto6,2015-08-03 06:02:55,2015-08-03 06:02:55,0.000000
342,460,A41012,punto3_to_punto6,2015-08-03 06:06:14,2015-08-03 06:07:59,1.750000
...,...,...,...,...,...,...
448,460,A41276,punto3_to_punto6,2015-08-03 19:13:59,2015-08-03 19:19:14,5.250000
643,570,A37539,punto3_to_punto6,2015-08-03 19:18:31,2015-08-03 19:18:31,0.000000
476,460,A41056,punto3_to_punto6,2015-08-03 19:20:51,2015-08-03 19:24:56,4.083333
538,476,A29082,punto3_to_punto6,2015-08-03 19:20:52,2015-08-03 19:20:52,0.000000
155,162,A37640,punto3_to_punto6,2015-08-03 19:26:40,2015-08-03 19:29:40,3.000000
409,460,A41310,punto3_to_punto6,2015-08-03 19:27:53,2015-08-03 19:31:25,3.533333
522,460,A41229,punto3_to_punto6,2015-08-03 19:33:24,2015-08-03 19:36:55,3.516667
526,460,A41203,punto3_to_punto6,2015-08-03 19:33:53,2015-08-03 19:40:53,7.000000
593,476,A29185,punto3_to_punto6,2015-08-03 19:56:53,2015-08-03 19:58:54,2.016667
202,172,A55157,punto3_to_punto6,2015-08-03 19:59:03,2015-08-03 19:59:03,0.000000
311,460,A41038,punto3_to_punto6,2015-08-03 20:01:55,2015-08-03 20:06:01,4.100000
462,460,A41052,punto3_to_punto6,2015-08-03 20:03:08,2015-08-03 20:08:59,5.850000
239,172,A55156,punto3_to_punto6,2015-08-03 20:09:51,2015-08-03 20:09:51,0.000000
35,110,A41163,punto3_to_punto6,2015-08-03 20:11:18,2015-08-03 20:16:02,4.733333
645,570,A37502,punto3_to_punto6,2015-08-03 20:13:46,2015-08-03 20:17:46,4.000000
519,460,A41275,punto3_to_punto6,2015-08-03 20:20:24,2015-08-03 20:25:07,4.716667
555,476,A29086,punto3_to_punto6,2015-08-03 20:23:41,2015-08-03 20:26:14,2.550000
403,460,A41043,punto3_to_punto6,2015-08-03 20:24:00,2015-08-03 20:26:55,2.916667
648,570,A37682,punto3_to_punto6,2015-08-03 20:24:09,2015-08-03 20:25:09,1.000000
470,460,A41274,punto3_to_punto6,2015-08-03 20:43:50,2015-08-03 20:48:10,4.333333
477,460,A41056,punto3_to_punto6,2015-08-03 20:46:06,2015-08-03 20:48:26,2.333333
562,476,A29084,punto3_to_punto6,2015-08-03 20:50:02,2015-08-03 20:55:38,5.600000
410,460,A41310,punto3_to_punto6,2015-08-03 20:54:16,2015-08-03 20:57:11,2.916667
523,460,A41229,punto3_to_punto6,2015-08-03 21:03:52,2015-08-03 21:06:12,2.333333
545,476,A29158,punto3_to_punto6,2015-08-03 21:17:34,2015-08-03 21:19:37,2.050000
527,460,A41203,punto3_to_punto6,2015-08-03 21:18:16,2015-08-03 21:21:46,3.500000
411,460,A41310,punto3_to_punto6,2015-08-03 21:55:09,2015-08-03 21:59:14,4.083333
646,570,A37502,punto3_to_punto6,2015-08-03 21:56:58,2015-08-03 21:58:58,2.000000
478,460,A41056,punto3_to_punto6,2015-08-03 22:10:15,2015-08-03 22:13:45,3.500000
649,570,A37682,punto3_to_punto6,2015-08-03 22:22:41,2015-08-03 22:24:41,2.000000

In [259]:
a_10082015_3_6 = segment_travel_time(Punto3, Punto6,"punto3", "punto6", '10-08-2015')
sorted_a_10082015_3_6 = a_10082015_3_6.sort(["Arrive_Hour"])
sorted_a_10082015_3_6

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
0,110,A41275,punto3_to_punto6,2015-08-10 00:38:55,2015-08-10 00:41:49,2.900000
224,460,A41100,punto3_to_punto6,2015-08-10 01:09:05,2015-08-10 01:10:50,1.750000
1,110,A41275,punto3_to_punto6,2015-08-10 01:44:51,2015-08-10 01:47:07,2.266667
236,460,A41065,punto3_to_punto6,2015-08-10 01:59:04,2015-08-10 01:59:04,0.000000
225,460,A41100,punto3_to_punto6,2015-08-10 02:25:25,2015-08-10 02:26:00,0.583333
2,110,A41275,punto3_to_punto6,2015-08-10 03:18:15,2015-08-10 03:18:15,0.000000
226,460,A41100,punto3_to_punto6,2015-08-10 03:58:13,2015-08-10 03:59:58,1.750000
3,110,A41244,punto3_to_punto6,2015-08-10 04:51:26,2015-08-10 04:51:32,0.100000
9,110,A41158,punto3_to_punto6,2015-08-10 05:03:12,2015-08-10 05:03:47,0.583333
237,460,A41051,punto3_to_punto6,2015-08-10 05:04:56,2015-08-10 05:07:16,2.333333
15,110,A41166,punto3_to_punto6,2015-08-10 05:16:10,2015-08-10 05:18:54,2.733333
21,110,A41236,punto3_to_punto6,2015-08-10 05:22:12,2015-08-10 05:24:26,2.233333
471,476,A29139,punto3_to_punto6,2015-08-10 05:26:21,2015-08-10 05:27:51,1.500000
248,460,A41038,punto3_to_punto6,2015-08-10 05:29:10,2015-08-10 05:30:55,1.750000
80,111,A41190,punto3_to_punto6,2015-08-10 05:30:13,2015-08-10 05:32:49,2.600000
162,172,A55059,punto3_to_punto6,2015-08-10 05:30:54,2015-08-10 05:31:54,1.000000
122,162,A37623,punto3_to_punto6,2015-08-10 05:37:41,2015-08-10 05:38:41,1.000000
256,460,A41180,punto3_to_punto6,2015-08-10 05:37:47,2015-08-10 05:40:07,2.333333
86,111,A41103,punto3_to_punto6,2015-08-10 05:39:05,2015-08-10 05:40:47,1.700000
167,172,A55077,punto3_to_punto6,2015-08-10 05:47:00,2015-08-10 05:48:00,1.000000
266,460,A41056,punto3_to_punto6,2015-08-10 05:52:13,2015-08-10 05:52:48,0.583333
274,460,A41033,punto3_to_punto6,2015-08-10 05:52:56,2015-08-10 05:55:16,2.333333
284,460,A41026,punto3_to_punto6,2015-08-10 05:54:16,2015-08-10 05:56:01,1.750000
292,460,A41014,punto3_to_punto6,2015-08-10 05:54:18,2015-08-10 05:56:02,1.733333
4,110,A41244,punto3_to_punto6,2015-08-10 05:55:50,2015-08-10 05:57:20,1.500000
238,460,A41051,punto3_to_punto6,2015-08-10 05:56:12,2015-08-10 05:57:57,1.750000
477,476,A29082,punto3_to_punto6,2015-08-10 05:57:18,2015-08-10 05:57:18,0.000000
227,460,A41100,punto3_to_punto6,2015-08-10 06:00:50,2015-08-10 06:03:46,2.933333
299,460,A41308,punto3_to_punto6,2015-08-10 06:02:09,2015-08-10 06:03:54,1.750000
306,460,A41016,punto3_to_punto6,2015-08-10 06:05:12,2015-08-10 06:05:47,0.583333
...,...,...,...,...,...,...
462,460,A41313,punto3_to_punto6,2015-08-10 19:30:12,2015-08-10 19:36:01,5.816667
431,460,A41052,punto3_to_punto6,2015-08-10 19:30:58,2015-08-10 19:36:12,5.233333
367,460,A41043,punto3_to_punto6,2015-08-10 19:35:01,2015-08-10 19:43:11,8.166667
412,460,A41013,punto3_to_punto6,2015-08-10 19:36:15,2015-08-10 19:45:00,8.750000
476,476,A29139,punto3_to_punto6,2015-08-10 19:37:07,2015-08-10 19:42:37,5.500000
517,476,A29084,punto3_to_punto6,2015-08-10 19:42:35,2015-08-10 19:50:18,7.716667
351,460,A41193,punto3_to_punto6,2015-08-10 19:52:06,2015-08-10 20:02:02,9.933333
312,460,A41016,punto3_to_punto6,2015-08-10 19:53:54,2015-08-10 20:02:03,8.150000
384,460,A41196,punto3_to_punto6,2015-08-10 19:55:16,2015-08-10 20:05:12,9.933333
196,172,A41270,punto3_to_punto6,2015-08-10 19:55:20,2015-08-10 19:58:50,3.500000
467,460,A41278,punto3_to_punto6,2015-08-10 20:12:11,2015-08-10 20:16:51,4.666667
325,460,A41127,punto3_to_punto6,2015-08-10 20:14:57,2015-08-10 20:20:48,5.850000
588,570,A37674,punto3_to_punto6,2015-08-10 20:20:52,2015-08-10 20:20:52,0.000000
283,460,A41033,punto3_to_punto6,2015-08-10 20:29:51,2015-08-10 20:36:52,7.016667
265,460,A41180,punto3_to_punto6,2015-08-10 20:31:01,2015-08-10 20:36:51,5.833333
149,162,A37535,punto3_to_punto6,2015-08-10 20:36:51,2015-08-10 20:40:51,4.000000
533,476,A29041,punto3_to_punto6,2015-08-10 20:46:49,2015-08-10 20:52:19,5.500000
160,162,A37714,punto3_to_punto6,2015-08-10 20:48:43,2015-08-10 20:50:45,2.033333
342,460,A41012,punto3_to_punto6,2015-08-10 20:51:18,2015-08-10 20:55:23,4.083333
432,460,A41052,punto3_to_punto6,2015-08-10 20:57:11,2015-08-10 20:58:54,1.716667
592,570,A37642,punto3_to_punto6,2015-08-10 21:01:37,2015-08-10 21:04:37,3.000000
573,570,A37706,punto3_to_punto6,2015-08-10 21:09:35,2015-08-10 21:10:05,0.500000
313,460,A41016,punto3_to_punto6,2015-08-10 21:12:21,2015-08-10 21:57:03,44.700000
385,460,A41196,punto3_to_punto6,2015-08-10 21:19:48,2015-08-10 21:22:08,2.333333
468,460,A41278,punto3_to_punto6,2015-08-10 21:31:00,2015-08-10 21:32:10,1.166667
433,460,A41052,punto3_to_punto6,2015-08-10 21:42:21,2015-08-10 21:45:15,2.900000
161,162,A37547,punto3_to_punto6,2015-08-10 21:44:00,2015-08-10 21:45:30,1.500000
171,172,A55077,punto3_to_punto6,2015-08-10 21:45:19,2015-08-10 21:45:49,0.500000
273,460,A41056,punto3_to_punto6,2015-08-10 22:01:05,2015-08-10 22:05:10,4.083333
593,570,A37642,punto3_to_punto6,2015-08-10 22:10:06,2015-08-10 22:12:06,2.000000

In [260]:
a_17082015_3_6 = segment_travel_time(Punto3, Punto6, "punto3", "punto6", '17-08-2015')
sorted_a_17082015_3_6 = a_17082015_3_6.sort(["Arrive_Hour"])
sorted_a_17082015_3_6

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
0,110,A41275,punto3_to_punto6,2015-08-17 00:22:56,2015-08-17 00:27:01,4.083333
237,177,A63538,punto3_to_punto6,2015-08-17 00:25:09,2015-08-17 00:25:09,0.000000
239,460,A41278,punto3_to_punto6,2015-08-17 01:07:10,2015-08-17 01:10:05,2.916667
1,110,A41275,punto3_to_punto6,2015-08-17 01:47:13,2015-08-17 01:48:05,0.866667
240,460,A41278,punto3_to_punto6,2015-08-17 02:29:25,2015-08-17 02:30:35,1.166667
2,110,A41275,punto3_to_punto6,2015-08-17 03:15:22,2015-08-17 03:16:53,1.516667
241,460,A41278,punto3_to_punto6,2015-08-17 03:58:12,2015-08-17 03:59:22,1.166667
3,110,A41158,punto3_to_punto6,2015-08-17 05:03:22,2015-08-17 05:05:07,1.750000
249,460,A41013,punto3_to_punto6,2015-08-17 05:08:07,2015-08-17 05:09:17,1.166667
261,460,A41051,punto3_to_punto6,2015-08-17 05:12:05,2015-08-17 05:13:15,1.166667
9,110,A41166,punto3_to_punto6,2015-08-17 05:15:19,2015-08-17 05:17:04,1.750000
476,476,A29139,punto3_to_punto6,2015-08-17 05:21:11,2015-08-17 05:22:11,1.000000
88,111,A41190,punto3_to_punto6,2015-08-17 05:29:00,2015-08-17 05:30:59,1.983333
269,460,A41038,punto3_to_punto6,2015-08-17 05:29:03,2015-08-17 05:31:23,2.333333
173,172,A55157,punto3_to_punto6,2015-08-17 05:32:13,2015-08-17 05:32:13,0.000000
279,460,A41071,punto3_to_punto6,2015-08-17 05:36:26,2015-08-17 05:38:11,1.750000
479,476,A29158,punto3_to_punto6,2015-08-17 05:37:46,2015-08-17 05:39:48,2.033333
285,460,A41065,punto3_to_punto6,2015-08-17 05:41:14,2015-08-17 05:44:09,2.916667
293,460,A41032,punto3_to_punto6,2015-08-17 05:41:21,2015-08-17 05:43:06,1.750000
15,110,A41095,punto3_to_punto6,2015-08-17 05:43:50,2015-08-17 05:46:04,2.233333
303,460,A41033,punto3_to_punto6,2015-08-17 05:45:57,2015-08-17 05:48:17,2.333333
18,110,A41299,punto3_to_punto6,2015-08-17 05:46:11,2015-08-17 05:47:56,1.750000
312,460,A41002,punto3_to_punto6,2015-08-17 05:47:22,2015-08-17 05:49:07,1.750000
176,172,A55077,punto3_to_punto6,2015-08-17 05:49:55,2015-08-17 05:49:55,0.000000
93,111,A41145,punto3_to_punto6,2015-08-17 05:51:42,2015-08-17 05:53:08,1.433333
485,476,A29082,punto3_to_punto6,2015-08-17 05:52:18,2015-08-17 05:53:33,1.250000
23,110,A41339,punto3_to_punto6,2015-08-17 05:55:17,2015-08-17 05:55:17,0.000000
322,460,A41310,punto3_to_punto6,2015-08-17 05:55:19,2015-08-17 05:57:04,1.750000
28,110,A41148,punto3_to_punto6,2015-08-17 05:55:20,2015-08-17 05:57:05,1.750000
331,460,A41193,punto3_to_punto6,2015-08-17 05:56:53,2015-08-17 05:59:13,2.333333
...,...,...,...,...,...,...
330,460,A41310,punto3_to_punto6,2015-08-17 19:29:56,2015-08-17 19:38:07,8.183333
142,162,A37640,punto3_to_punto6,2015-08-17 19:33:24,2015-08-17 19:42:54,9.500000
77,110,A41332,punto3_to_punto6,2015-08-17 19:34:03,2015-08-17 19:42:48,8.750000
383,460,A41276,punto3_to_punto6,2015-08-17 19:40:01,2015-08-17 19:50:31,10.500000
580,570,A37632,punto3_to_punto6,2015-08-17 19:40:56,2015-08-17 19:47:27,6.516667
179,172,A55077,punto3_to_punto6,2015-08-17 19:42:05,2015-08-17 19:52:05,10.000000
259,460,A41013,punto3_to_punto6,2015-08-17 19:45:06,2015-08-17 19:52:06,7.000000
493,476,A29086,punto3_to_punto6,2015-08-17 19:46:23,2015-08-17 19:54:32,8.150000
452,460,A41120,punto3_to_punto6,2015-08-17 19:48:05,2015-08-17 19:55:04,6.983333
392,460,A41043,punto3_to_punto6,2015-08-17 19:48:54,2015-08-17 19:57:04,8.166667
302,460,A41032,punto3_to_punto6,2015-08-17 19:55:02,2015-08-17 20:04:23,9.350000
502,476,A29185,punto3_to_punto6,2015-08-17 20:01:57,2015-08-17 20:07:38,5.683333
234,172,A55155,punto3_to_punto6,2015-08-17 20:05:43,2015-08-17 20:10:43,5.000000
319,460,A41002,punto3_to_punto6,2015-08-17 20:07:07,2015-08-17 20:12:57,5.833333
527,476,A29152,punto3_to_punto6,2015-08-17 20:09:35,2015-08-17 20:13:39,4.066667
171,162,A37513,punto3_to_punto6,2015-08-17 20:37:59,2015-08-17 20:39:59,2.000000
475,460,A41137,punto3_to_punto6,2015-08-17 20:45:52,2015-08-17 20:52:58,7.100000
124,162,A37623,punto3_to_punto6,2015-08-17 20:49:00,2015-08-17 20:53:00,4.000000
347,460,A41053,punto3_to_punto6,2015-08-17 20:50:22,2015-08-17 20:55:19,4.950000
364,460,A41100,punto3_to_punto6,2015-08-17 20:53:51,2015-08-17 21:00:16,6.416667
570,570,A37648,punto3_to_punto6,2015-08-17 20:58:29,2015-08-17 21:02:33,4.066667
588,570,A37630,punto3_to_punto6,2015-08-17 21:08:58,2015-08-17 21:12:58,4.000000
548,570,A37578,punto3_to_punto6,2015-08-17 21:20:02,2015-08-17 21:22:32,2.500000
260,460,A41013,punto3_to_punto6,2015-08-17 21:20:18,2015-08-17 21:21:59,1.683333
170,162,A37547,punto3_to_punto6,2015-08-17 21:36:51,2015-08-17 21:38:51,2.000000
320,460,A41002,punto3_to_punto6,2015-08-17 21:39:22,2015-08-17 21:39:57,0.583333
365,460,A41100,punto3_to_punto6,2015-08-17 22:00:51,2015-08-17 22:03:11,2.333333
278,460,A41038,punto3_to_punto6,2015-08-17 22:07:03,2015-08-17 22:08:13,1.166667
321,460,A41002,punto3_to_punto6,2015-08-17 22:26:24,2015-08-17 22:29:19,2.916667
172,162,A37513,punto3_to_punto6,2015-08-17 22:31:01,2015-08-17 22:32:01,1.000000

In [263]:
#Computando tiempo medio de viaje por horario del dia en ese dia y ese tramo
mean_time_27072015_3_6 = mean_travel_time(sorted_a_27072015_3_6, intervals)
mean_time_27072015_3_6

             Segment        Time_Interval  Mean_Travel_Time
0   punto3_to_punto6  00:00:00 - 05:00:00          1.343056
1   punto3_to_punto6  05:00:00 - 06:00:00          1.533333
2   punto3_to_punto6  06:00:00 - 07:00:00          2.500269
3   punto3_to_punto6  07:00:00 - 08:00:00          2.629839
4   punto3_to_punto6  08:00:00 - 09:00:00          2.758974
5   punto3_to_punto6  09:00:00 - 10:00:00          3.008333
6   punto3_to_punto6  10:00:00 - 11:00:00          3.932246
7   punto3_to_punto6  11:00:00 - 12:00:00          3.249123
8   punto3_to_punto6  12:00:00 - 13:00:00          2.857540
9   punto3_to_punto6  13:00:00 - 14:00:00          4.023016
10  punto3_to_punto6  14:00:00 - 15:00:00          3.186395
11  punto3_to_punto6  15:00:00 - 16:00:00          4.160884
12  punto3_to_punto6  16:00:00 - 17:00:00          3.658148
13  punto3_to_punto6  17:00:00 - 19:00:00          3.362077
14  punto3_to_punto6  19:00:00 - 20:00:00          3.073485
15  punto3_to_punto6  20:00:00 - 21:00:00          2.243056
16  punto3_to_punto6  21:00:00 - 22:00:00          2.421429
17  punto3_to_punto6  22:00:00 - 23:00:00          3.058333
18  punto3_to_punto6  23:00:00 - 23:59:59          0.000000

In [264]:
#Computando tiempo medio de viaje por horario del dia en ese dia y ese tramo
mean_time_03082015_3_6 = mean_travel_time(sorted_a_03082015_3_6, intervals)
mean_time_03082015_3_6

             Segment        Time_Interval  Mean_Travel_Time
0   punto3_to_punto6  00:00:00 - 05:00:00          1.461905
1   punto3_to_punto6  05:00:00 - 06:00:00          1.822222
2   punto3_to_punto6  06:00:00 - 07:00:00          2.067647
3   punto3_to_punto6  07:00:00 - 08:00:00          2.780688
4   punto3_to_punto6  08:00:00 - 09:00:00          3.915278
5   punto3_to_punto6  09:00:00 - 10:00:00          3.346528
6   punto3_to_punto6  10:00:00 - 11:00:00          4.269231
7   punto3_to_punto6  11:00:00 - 12:00:00          3.865530
8   punto3_to_punto6  12:00:00 - 13:00:00          3.311574
9   punto3_to_punto6  13:00:00 - 14:00:00          4.191860
10  punto3_to_punto6  14:00:00 - 15:00:00          4.082372
11  punto3_to_punto6  15:00:00 - 16:00:00          3.468085
12  punto3_to_punto6  16:00:00 - 17:00:00          3.854286
13  punto3_to_punto6  17:00:00 - 19:00:00          3.713462
14  punto3_to_punto6  19:00:00 - 20:00:00          3.856140
15  punto3_to_punto6  20:00:00 - 21:00:00          3.465385
16  punto3_to_punto6  21:00:00 - 22:00:00          2.793333
17  punto3_to_punto6  22:00:00 - 23:00:00          2.750000
18  punto3_to_punto6  23:00:00 - 23:59:59          0.000000

In [265]:
#Computando tiempo medio de viaje por horario del dia en ese dia y ese tramo
mean_time_10082015_3_6 = mean_travel_time(sorted_a_10082015_3_6, intervals)
mean_time_10082015_3_6

             Segment        Time_Interval  Mean_Travel_Time
0   punto3_to_punto6  00:00:00 - 05:00:00          1.168750
1   punto3_to_punto6  05:00:00 - 06:00:00          1.600877
2   punto3_to_punto6  06:00:00 - 07:00:00          3.137179
3   punto3_to_punto6  07:00:00 - 08:00:00          8.527222
4   punto3_to_punto6  08:00:00 - 09:00:00          6.258519
5   punto3_to_punto6  09:00:00 - 10:00:00          5.548913
6   punto3_to_punto6  10:00:00 - 11:00:00          7.206863
7   punto3_to_punto6  11:00:00 - 12:00:00          8.252976
8   punto3_to_punto6  12:00:00 - 13:00:00          4.341026
9   punto3_to_punto6  13:00:00 - 14:00:00          6.877941
10  punto3_to_punto6  14:00:00 - 15:00:00          5.232292
11  punto3_to_punto6  15:00:00 - 16:00:00          7.859783
12  punto3_to_punto6  16:00:00 - 17:00:00          9.545139
13  punto3_to_punto6  17:00:00 - 19:00:00          3.573050
14  punto3_to_punto6  19:00:00 - 20:00:00          6.055882
15  punto3_to_punto6  20:00:00 - 21:00:00          4.070000
16  punto3_to_punto6  21:00:00 - 22:00:00          7.075000
17  punto3_to_punto6  22:00:00 - 23:00:00          3.041667
18  punto3_to_punto6  23:00:00 - 23:59:59          0.000000

In [266]:
#Computando tiempo medio de viaje por horario del dia en ese dia y ese tramo
mean_time_17082015_3_6 = mean_travel_time(sorted_a_17082015_3_6, intervals)
mean_time_17082015_3_6

             Segment        Time_Interval  Mean_Travel_Time
0   punto3_to_punto6  00:00:00 - 05:00:00          1.673810
1   punto3_to_punto6  05:00:00 - 06:00:00          1.626282
2   punto3_to_punto6  06:00:00 - 07:00:00          2.382971
3   punto3_to_punto6  07:00:00 - 08:00:00          6.625424
4   punto3_to_punto6  08:00:00 - 09:00:00         11.748333
5   punto3_to_punto6  09:00:00 - 10:00:00         16.161905
6   punto3_to_punto6  10:00:00 - 11:00:00         14.286310
7   punto3_to_punto6  11:00:00 - 12:00:00         15.005556
8   punto3_to_punto6  12:00:00 - 13:00:00          6.503431
9   punto3_to_punto6  13:00:00 - 14:00:00          4.612381
10  punto3_to_punto6  14:00:00 - 15:00:00          4.833704
11  punto3_to_punto6  15:00:00 - 16:00:00          4.951701
12  punto3_to_punto6  16:00:00 - 17:00:00          4.296970
13  punto3_to_punto6  17:00:00 - 19:00:00          5.952536
14  punto3_to_punto6  19:00:00 - 20:00:00          6.934167
15  punto3_to_punto6  20:00:00 - 21:00:00          4.911667
16  punto3_to_punto6  21:00:00 - 22:00:00          2.153333
17  punto3_to_punto6  22:00:00 - 23:00:00          1.854167
18  punto3_to_punto6  23:00:00 - 23:59:59          0.000000

In [267]:
#codigo para mostrar en la web
#Graficando el tiempo para atravesar el tramo 2-5 todos los dias analizados 27/07, 03/08, 10/08, 17/08
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.graph_objs as go
py.sign_in( 'kathrinr','ruz0yioat7')

trace = go.Scatter( x = intervals , y = mean_time_27072015_3_6['Mean_Travel_Time'] , mode = 'lines',
    name = 'July 27, 2015')
trace0 = go.Scatter( x = intervals, y = mean_time_03082015_3_6['Mean_Travel_Time'] , mode = 'lines',
    name = 'Agust 03, 2015')
trace1 = go.Scatter( x = intervals, y = mean_time_10082015_3_6['Mean_Travel_Time'] , mode = 'lines',
    name = 'Agust 10, 2015')
trace2 = go.Scatter( x = intervals, y = mean_time_17082015_3_6['Mean_Travel_Time'] , mode = 'lines',
    name = 'Agust 17, 2015')

layout = go.Layout(
    title='Av Bartolomeu Mitre',
    xaxis=dict(
        title='Time of day intervals (timestamp)',
        titlefont=dict(
            family='Arial',
            size=18,
            color='black'
        ),
        
        exponentformat='e',
        showexponent='All'
    ),
    yaxis=dict(
        title='Traverse Time (minutes)',
        titlefont=dict(
            family='Arial',
            size=18,
            color='black'
        ),
        
        exponentformat='e',
        showexponent='All'
    )
)
data = Data([trace, trace0, trace1, trace2])
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='axes-labels')

#Para la web solo hay que ponerle
#py.plot(fig, filename='axes-labels')

In [240]:
#Tramo a analizar 2-5
Punto2 = (-22.960298,-43.204346)
Punto5 = (-22.974325,-43.22625)

##Polygon TVWXYZ
T = (-22.974577,-43.226631)
inverted_T = (-43.226631,-22.974577)

V = (-22.974654,-43.225901)
inverted_V = (-43.225901,-22.974654)

W = (-22.961393,-43.215076)
inverted_W = (-43.215076,-22.961393)

X = (-22.961897,-43.214658)
inverted_X = (-43.214658,-22.961897)

Y = (-22.960128,-43.2041)
inverted_Y = (-43.2041,-22.960128)

Z = (-22.960484,-43.204015)
inverted_Z = (-43.204015,-22.960484)

inverted_polygon_2_5 = [inverted_V,inverted_T,inverted_W,inverted_Y,inverted_Z,inverted_X]

In [59]:
# testing para tramo 2-5 dia '17-08-2015'
a_17082015_2_5 = segment_travel_time(Punto2,Punto5,"punto2", "punto5", '17-08-2015')
sorted_a_17082015_2_5 = a_17082015_2_5.sort('Arrive_Hour')
sorted_a_17082015_2_5

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
0,178,A41015,punto2_to_punto5,2015-08-17 00:24:08,2015-08-17 00:31:19,7.183333
56,316,C41424,punto2_to_punto5,2015-08-17 05:59:00,2015-08-17 06:04:14,5.233333
9,178,A41465,punto2_to_punto5,2015-08-17 06:01:12,2015-08-17 06:08:24,7.200000
16,178,A41460,punto2_to_punto5,2015-08-17 06:26:16,2015-08-17 06:32:40,6.400000
21,178,A41170,punto2_to_punto5,2015-08-17 06:45:11,2015-08-17 06:53:02,7.850000
22,178,A41009,punto2_to_punto5,2015-08-17 06:54:51,2015-08-17 07:04:10,9.316667
24,178,A41459,punto2_to_punto5,2015-08-17 07:00:17,2015-08-17 07:10:47,10.500000
58,316,C41427,punto2_to_punto5,2015-08-17 07:17:10,2015-08-17 07:24:10,7.000000
42,309,C41397,punto2_to_punto5,2015-08-17 07:20:56,2015-08-17 07:30:16,9.333333
25,178,A41073,punto2_to_punto5,2015-08-17 07:23:12,2015-08-17 07:34:18,11.100000
28,178,A41458,punto2_to_punto5,2015-08-17 07:23:56,2015-08-17 07:33:15,9.316667
31,178,A41027,punto2_to_punto5,2015-08-17 07:45:11,2015-08-17 07:55:10,9.983333
3,178,A41457,punto2_to_punto5,2015-08-17 08:05:02,2015-08-17 08:14:57,9.916667
51,309,C41388,punto2_to_punto5,2015-08-17 08:15:09,2015-08-17 08:27:59,12.833333
35,178,A41455,punto2_to_punto5,2015-08-17 08:15:18,2015-08-17 08:27:47,12.483333
5,178,A41462,punto2_to_punto5,2015-08-17 08:32:11,2015-08-17 08:50:16,18.083333
6,178,A41464,punto2_to_punto5,2015-08-17 08:49:09,2015-08-17 09:07:14,18.083333
10,178,A41465,punto2_to_punto5,2015-08-17 08:51:11,2015-08-17 09:06:57,15.766667
12,178,A41463,punto2_to_punto5,2015-08-17 08:55:01,2015-08-17 09:13:06,18.083333
54,309,C41396,punto2_to_punto5,2015-08-17 09:03:47,2015-08-17 09:24:12,20.416667
15,178,A41454,punto2_to_punto5,2015-08-17 09:18:54,2015-08-17 09:38:09,19.250000
46,309,C41391,punto2_to_punto5,2015-08-17 09:55:58,2015-08-17 10:21:15,25.283333
49,309,C41387,punto2_to_punto5,2015-08-17 10:07:10,2015-08-17 10:31:05,23.916667
36,178,A41322,punto2_to_punto5,2015-08-17 10:49:15,2015-08-17 11:09:05,19.833333
26,178,A41073,punto2_to_punto5,2015-08-17 11:05:59,2015-08-17 11:31:04,25.083333
52,309,C41383,punto2_to_punto5,2015-08-17 11:16:09,2015-08-17 11:41:15,25.100000
38,309,C41394,punto2_to_punto5,2015-08-17 11:16:55,2015-08-17 11:37:55,21.000000
32,178,A41027,punto2_to_punto5,2015-08-17 11:28:34,2015-08-17 11:53:04,24.500000
57,316,C41422,punto2_to_punto5,2015-08-17 11:59:13,2015-08-17 12:23:51,24.633333
33,178,A41289,punto2_to_punto5,2015-08-17 12:20:09,2015-08-17 12:47:25,27.266667
...,...,...,...,...,...,...
59,316,C41427,punto2_to_punto5,2015-08-17 15:20:11,2015-08-17 15:34:10,13.983333
61,317,C41406,punto2_to_punto5,2015-08-17 15:25:06,2015-08-17 15:39:03,13.950000
47,309,C41391,punto2_to_punto5,2015-08-17 15:33:27,2015-08-17 15:49:12,15.750000
37,178,A41087,punto2_to_punto5,2015-08-17 15:46:07,2015-08-17 16:01:17,15.166667
29,178,A41458,punto2_to_punto5,2015-08-17 15:47:18,2015-08-17 16:04:14,16.933333
55,309,C41393,punto2_to_punto5,2015-08-17 15:55:17,2015-08-17 16:12:12,16.916667
40,309,C41382,punto2_to_punto5,2015-08-17 16:03:14,2015-08-17 16:23:04,19.833333
34,178,A41289,punto2_to_punto5,2015-08-17 16:12:12,2015-08-17 16:30:22,18.166667
63,317,C41408,punto2_to_punto5,2015-08-17 16:21:24,2015-08-17 16:35:04,13.666667
39,309,C41394,punto2_to_punto5,2015-08-17 16:22:51,2015-08-17 16:38:07,15.266667
53,309,C41383,punto2_to_punto5,2015-08-17 16:29:59,2015-08-17 16:47:28,17.483333
11,178,A41465,punto2_to_punto5,2015-08-17 16:34:15,2015-08-17 16:45:56,11.683333
19,178,A41017,punto2_to_punto5,2015-08-17 16:34:25,2015-08-17 16:44:55,10.500000
60,316,C41429,punto2_to_punto5,2015-08-17 16:35:11,2015-08-17 16:47:26,12.250000
27,178,A41073,punto2_to_punto5,2015-08-17 16:38:58,2015-08-17 16:52:58,14.000000
44,309,C41392,punto2_to_punto5,2015-08-17 16:47:14,2015-08-17 17:04:08,16.900000
13,178,A41463,punto2_to_punto5,2015-08-17 16:47:28,2015-08-17 17:00:52,13.400000
17,178,A41460,punto2_to_punto5,2015-08-17 17:11:11,2015-08-17 17:26:56,15.750000
2,178,A41015,punto2_to_punto5,2015-08-17 17:23:01,2015-08-17 17:34:07,11.100000
14,178,A41452,punto2_to_punto5,2015-08-17 17:53:57,2015-08-17 18:05:02,11.083333
8,178,A41464,punto2_to_punto5,2015-08-17 18:14:04,2015-08-17 18:24:01,9.950000
62,317,C41401,punto2_to_punto5,2015-08-17 18:20:02,2015-08-17 18:30:19,10.283333
4,178,A41456,punto2_to_punto5,2015-08-17 19:35:08,2015-08-17 19:43:53,8.750000
50,309,C41387,punto2_to_punto5,2015-08-17 19:43:05,2015-08-17 19:50:05,7.000000
48,309,C41391,punto2_to_punto5,2015-08-17 19:55:08,2015-08-17 20:03:18,8.166667
30,178,A41458,punto2_to_punto5,2015-08-17 20:09:09,2015-08-17 20:16:09,7.000000
41,309,C41382,punto2_to_punto5,2015-08-17 20:52:56,2015-08-17 20:58:46,5.833333
20,178,A41017,punto2_to_punto5,2015-08-17 20:57:03,2015-08-17 21:04:03,7.000000
45,309,C41392,punto2_to_punto5,2015-08-17 21:04:07,2015-08-17 21:08:47,4.666667
23,178,A41009,punto2_to_punto5,2015-08-17 22:56:50,2015-08-17 23:03:50,7.000000

In [61]:
# testing para tramo 2-5 dia '10-08-2015'
a_10082015_2_5 = segment_travel_time(Punto2,Punto5,"punto2", "punto5", '10-08-2015')
sorted_a_10082015_2_5 = a_10082015_2_5.sort('Arrive_Hour')
sorted_a_10082015_2_5

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
6,178,A41466,punto2_to_punto5,2015-08-10 06:27:04,2015-08-10 06:32:54,5.833333
9,178,A41452,punto2_to_punto5,2015-08-10 06:28:04,2015-08-10 06:32:59,4.916667
14,178,A41009,punto2_to_punto5,2015-08-10 06:57:03,2015-08-10 07:03:00,5.950000
51,317,C41404,punto2_to_punto5,2015-08-10 07:10:17,2015-08-10 07:20:12,9.916667
53,317,C41407,punto2_to_punto5,2015-08-10 07:13:12,2015-08-10 07:20:48,7.600000
30,309,C41341,punto2_to_punto5,2015-08-10 07:40:17,2015-08-10 07:53:07,12.833333
31,309,C41390,punto2_to_punto5,2015-08-10 07:53:52,2015-08-10 08:06:07,12.250000
24,178,A41015,punto2_to_punto5,2015-08-10 07:56:58,2015-08-10 08:06:53,9.916667
34,309,C41385,punto2_to_punto5,2015-08-10 08:04:07,2015-08-10 08:12:49,8.700000
36,309,C41388,punto2_to_punto5,2015-08-10 08:13:14,2015-08-10 08:20:50,7.600000
39,309,C41399,punto2_to_punto5,2015-08-10 08:22:21,2015-08-10 08:32:17,9.933333
1,178,A41462,punto2_to_punto5,2015-08-10 08:28:08,2015-08-10 08:36:53,8.750000
55,317,C41409,punto2_to_punto5,2015-08-10 08:56:12,2015-08-10 09:07:05,10.883333
3,178,A41465,punto2_to_punto5,2015-08-10 08:56:18,2015-08-10 09:09:08,12.833333
44,309,C41382,punto2_to_punto5,2015-08-10 09:03:13,2015-08-10 09:14:53,11.666667
58,317,C41401,punto2_to_punto5,2015-08-10 09:30:50,2015-08-10 09:46:00,15.166667
7,178,A41466,punto2_to_punto5,2015-08-10 09:43:04,2015-08-10 09:55:54,12.833333
13,178,A41459,punto2_to_punto5,2015-08-10 10:08:12,2015-08-10 10:30:57,22.750000
49,316,C41429,punto2_to_punto5,2015-08-10 10:16:57,2015-08-10 10:33:04,16.116667
15,178,A41009,punto2_to_punto5,2015-08-10 10:28:11,2015-08-10 10:45:05,16.900000
17,178,A41460,punto2_to_punto5,2015-08-10 10:32:54,2015-08-10 10:52:11,19.283333
42,309,C41393,punto2_to_punto5,2015-08-10 10:42:57,2015-08-10 11:05:08,22.183333
19,178,A41289,punto2_to_punto5,2015-08-10 11:13:08,2015-08-10 11:36:59,23.850000
25,178,A41015,punto2_to_punto5,2015-08-10 12:38:21,2015-08-10 12:54:56,16.583333
56,317,C41409,punto2_to_punto5,2015-08-10 13:07:24,2015-08-10 13:21:59,14.583333
28,309,C41387,punto2_to_punto5,2015-08-10 13:49:02,2015-08-10 14:01:52,12.833333
29,309,C41392,punto2_to_punto5,2015-08-10 13:50:06,2015-08-10 14:01:07,11.016667
11,178,A41027,punto2_to_punto5,2015-08-10 14:08:10,2015-08-10 14:21:52,13.700000
54,317,C41407,punto2_to_punto5,2015-08-10 14:20:11,2015-08-10 14:33:26,13.250000
16,178,A41009,punto2_to_punto5,2015-08-10 14:36:23,2015-08-10 14:49:13,12.833333
32,309,C41391,punto2_to_punto5,2015-08-10 14:49:57,2015-08-10 15:01:02,11.083333
41,309,C41397,punto2_to_punto5,2015-08-10 14:54:19,2015-08-10 15:05:59,11.666667
18,178,A41460,punto2_to_punto5,2015-08-10 14:55:22,2015-08-10 15:04:20,8.966667
20,178,A41289,punto2_to_punto5,2015-08-10 15:16:11,2015-08-10 15:29:57,13.766667
22,178,A41088,punto2_to_punto5,2015-08-10 15:21:58,2015-08-10 15:37:08,15.166667
2,178,A41462,punto2_to_punto5,2015-08-10 15:29:15,2015-08-10 15:42:04,12.816667
50,316,C41424,punto2_to_punto5,2015-08-10 15:49:19,2015-08-10 16:03:55,14.600000
40,309,C41399,punto2_to_punto5,2015-08-10 16:15:57,2015-08-10 16:29:52,13.916667
57,317,C41409,punto2_to_punto5,2015-08-10 16:39:08,2015-08-10 16:52:54,13.766667
47,309,C41217,punto2_to_punto5,2015-08-10 17:00:18,2015-08-10 17:13:08,12.833333
37,309,C41386,punto2_to_punto5,2015-08-10 17:01:54,2015-08-10 17:14:09,12.250000
4,178,A41465,punto2_to_punto5,2015-08-10 17:02:17,2015-08-10 17:12:47,10.500000
35,309,C41385,punto2_to_punto5,2015-08-10 17:12:01,2015-08-10 17:23:06,11.083333
46,309,C41383,punto2_to_punto5,2015-08-10 17:22:55,2015-08-10 17:32:50,9.916667
27,309,C41381,punto2_to_punto5,2015-08-10 17:26:19,2015-08-10 17:36:49,10.500000
26,178,A41015,punto2_to_punto5,2015-08-10 17:40:00,2015-08-10 17:54:00,14.000000
0,178,A41457,punto2_to_punto5,2015-08-10 17:40:07,2015-08-10 17:52:57,12.833333
52,317,C41404,punto2_to_punto5,2015-08-10 17:51:07,2015-08-10 17:59:17,8.166667
8,178,A41466,punto2_to_punto5,2015-08-10 18:23:53,2015-08-10 18:30:18,6.416667
48,316,C41423,punto2_to_punto5,2015-08-10 18:28:19,2015-08-10 18:37:04,8.750000
10,178,A41452,punto2_to_punto5,2015-08-10 18:46:18,2015-08-10 18:55:01,8.716667
45,309,C41382,punto2_to_punto5,2015-08-10 19:21:03,2015-08-10 19:29:13,8.166667
33,309,C41391,punto2_to_punto5,2015-08-10 19:27:02,2015-08-10 19:36:58,9.933333
21,178,A41289,punto2_to_punto5,2015-08-10 20:10:51,2015-08-10 20:18:02,7.183333
43,309,C41393,punto2_to_punto5,2015-08-10 20:32:19,2015-08-10 20:39:19,7.000000
23,178,A41088,punto2_to_punto5,2015-08-10 20:33:04,2015-08-10 20:40:04,7.000000
38,309,C41386,punto2_to_punto5,2015-08-10 21:06:06,2015-08-10 21:11:56,5.833333
5,178,A41458,punto2_to_punto5,2015-08-10 21:24:17,2015-08-10 21:31:52,7.583333
12,178,A41073,punto2_to_punto5,2015-08-10 21:46:17,2015-08-10 21:52:08,5.850000

In [64]:
# testing para tramo 2-5 dia '03-08-2015'
a_03082015_2_5 = segment_travel_time(Punto2, Punto5, "punto2", "punto5", '03-08-2015')
sorted_a_03082015_2_5 = a_03082015_2_5.sort('Arrive_Hour')
sorted_a_03082015_2_5

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
13,178,A41458,punto2_to_punto5,2015-08-03 06:30:58,2015-08-03 06:36:50,5.866667
1,178,A41466,punto2_to_punto5,2015-08-03 08:00:54,2015-08-03 08:10:07,9.216667
3,178,A41456,punto2_to_punto5,2015-08-03 08:13:01,2015-08-03 08:22:01,9.000000
32,309,C41385,punto2_to_punto5,2015-08-03 08:13:05,2015-08-03 08:24:09,11.066667
33,309,C41102,punto2_to_punto5,2015-08-03 08:23:38,2015-08-03 08:33:08,9.500000
7,178,A41462,punto2_to_punto5,2015-08-03 08:31:07,2015-08-03 08:41:03,9.933333
29,309,C41393,punto2_to_punto5,2015-08-03 10:18:54,2015-08-03 10:32:48,13.900000
35,309,C41341,punto2_to_punto5,2015-08-03 10:56:20,2015-08-03 11:09:10,12.833333
39,309,C41217,punto2_to_punto5,2015-08-03 11:16:06,2015-08-03 11:30:07,14.016667
36,309,C41392,punto2_to_punto5,2015-08-03 12:28:58,2015-08-03 12:42:58,14.000000
41,316,C41422,punto2_to_punto5,2015-08-03 12:36:44,2015-08-03 12:48:14,11.500000
34,309,C41102,punto2_to_punto5,2015-08-03 12:47:08,2015-08-03 12:58:38,11.500000
18,178,A41465,punto2_to_punto5,2015-08-03 13:12:08,2015-08-03 13:21:08,9.000000
11,178,A41463,punto2_to_punto5,2015-08-03 13:44:22,2015-08-03 13:54:16,9.900000
16,178,A41170,punto2_to_punto5,2015-08-03 13:58:49,2015-08-03 14:07:49,9.000000
24,178,A41015,punto2_to_punto5,2015-08-03 14:29:17,2015-08-03 14:36:17,7.000000
9,178,A41454,punto2_to_punto5,2015-08-03 14:39:02,2015-08-03 14:47:12,8.166667
5,178,A41461,punto2_to_punto5,2015-08-03 14:43:51,2015-08-03 14:53:11,9.333333
30,309,C41393,punto2_to_punto5,2015-08-03 14:45:53,2015-08-03 14:56:58,11.083333
14,178,A41458,punto2_to_punto5,2015-08-03 15:04:05,2015-08-03 15:15:12,11.116667
8,178,A41462,punto2_to_punto5,2015-08-03 15:07:12,2015-08-03 15:18:52,11.666667
21,178,A41459,punto2_to_punto5,2015-08-03 15:51:04,2015-08-03 16:02:14,11.166667
19,178,A41465,punto2_to_punto5,2015-08-03 16:47:01,2015-08-03 17:02:46,15.750000
40,309,C41217,punto2_to_punto5,2015-08-03 16:51:57,2015-08-03 17:05:55,13.966667
4,178,A41456,punto2_to_punto5,2015-08-03 16:57:58,2015-08-03 17:10:56,12.966667
12,178,A41463,punto2_to_punto5,2015-08-03 17:01:55,2015-08-03 17:12:48,10.883333
38,309,C41404,punto2_to_punto5,2015-08-03 17:17:59,2015-08-03 17:26:51,8.866667
27,309,C41381,punto2_to_punto5,2015-08-03 17:26:10,2015-08-03 17:36:05,9.916667
37,309,C41392,punto2_to_punto5,2015-08-03 17:28:15,2015-08-03 17:38:45,10.500000
20,178,A41460,punto2_to_punto5,2015-08-03 17:31:13,2015-08-03 17:41:09,9.933333
28,309,C41399,punto2_to_punto5,2015-08-03 18:03:55,2015-08-03 18:16:10,12.250000
2,178,A41466,punto2_to_punto5,2015-08-03 18:18:48,2015-08-03 18:28:08,9.333333
25,178,A41015,punto2_to_punto5,2015-08-03 18:25:55,2015-08-03 18:36:59,11.066667
23,178,A41009,punto2_to_punto5,2015-08-03 19:06:13,2015-08-03 19:16:08,9.916667
15,178,A41458,punto2_to_punto5,2015-08-03 19:16:00,2015-08-03 19:25:05,9.083333
10,178,A41454,punto2_to_punto5,2015-08-03 19:28:52,2015-08-03 19:36:58,8.100000
6,178,A41461,punto2_to_punto5,2015-08-03 19:37:58,2015-08-03 19:44:53,6.916667
22,178,A41459,punto2_to_punto5,2015-08-03 20:24:57,2015-08-03 20:30:57,6.000000
31,309,C41393,punto2_to_punto5,2015-08-03 20:41:45,2015-08-03 20:51:05,9.333333
0,178,A41321,punto2_to_punto5,2015-08-03 22:54:04,2015-08-03 23:00:07,6.050000
26,178,A41015,punto2_to_punto5,2015-08-03 23:38:06,2015-08-03 23:47:12,9.100000
17,178,A41170,punto2_to_punto5,2015-08-03 23:49:43,2015-08-03 23:55:43,6.000000

In [66]:
# testing para tramo 2-5 dia '27-07-2015'
a_27072015_2_5 = segment_travel_time(Punto2,Punto5,"punto2", "punto5", '27-07-2015')
sorted_a_27072015_2_5 = a_27072015_2_5.sort('Arrive_Hour')
sorted_a_27072015_2_5

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
26,309,C41412,punto2_to_punto5,2015-07-27 01:40:32,2015-07-27 01:44:32,4.000000
29,309,C41418,punto2_to_punto5,2015-07-27 07:51:51,2015-07-27 08:00:16,8.416667
41,309,C41392,punto2_to_punto5,2015-07-27 08:56:34,2015-07-27 09:05:47,9.216667
44,309,C41415,punto2_to_punto5,2015-07-27 09:15:59,2015-07-27 09:23:33,7.566667
6,178,A41460,punto2_to_punto5,2015-07-27 09:21:48,2015-07-27 09:30:35,8.783333
23,309,C41409,punto2_to_punto5,2015-07-27 09:22:03,2015-07-27 09:31:59,9.933333
45,309,C41395,punto2_to_punto5,2015-07-27 09:48:52,2015-07-27 09:56:38,7.766667
54,316,C41421,punto2_to_punto5,2015-07-27 09:56:02,2015-07-27 10:06:49,10.783333
9,178,A41462,punto2_to_punto5,2015-07-27 09:56:36,2015-07-27 10:10:01,13.416667
10,178,A41457,punto2_to_punto5,2015-07-27 10:01:53,2015-07-27 10:11:48,9.916667
15,178,A41459,punto2_to_punto5,2015-07-27 10:10:47,2015-07-27 10:21:53,11.100000
49,309,C41406,punto2_to_punto5,2015-07-27 10:18:57,2015-07-27 10:31:04,12.116667
38,309,C41383,punto2_to_punto5,2015-07-27 10:41:54,2015-07-27 10:53:34,11.666667
11,178,A41017,punto2_to_punto5,2015-07-27 11:06:39,2015-07-27 11:20:39,14.000000
17,178,A41047,punto2_to_punto5,2015-07-27 11:59:54,2015-07-27 12:14:01,14.116667
46,309,C41093,punto2_to_punto5,2015-07-27 12:14:04,2015-07-27 12:25:08,11.066667
28,309,C41419,punto2_to_punto5,2015-07-27 12:54:47,2015-07-27 13:00:45,5.966667
2,178,A41452,punto2_to_punto5,2015-07-27 13:01:05,2015-07-27 13:08:04,6.983333
42,309,C41392,punto2_to_punto5,2015-07-27 13:47:02,2015-07-27 13:54:02,7.000000
16,178,A41459,punto2_to_punto5,2015-07-27 14:00:53,2015-07-27 14:13:08,12.250000
3,178,A41456,punto2_to_punto5,2015-07-27 14:11:49,2015-07-27 14:21:08,9.316667
20,178,A41027,punto2_to_punto5,2015-07-27 14:19:54,2015-07-27 14:28:04,8.166667
33,309,C41405,punto2_to_punto5,2015-07-27 14:24:52,2015-07-27 14:33:02,8.166667
21,178,A41009,punto2_to_punto5,2015-07-27 14:25:43,2015-07-27 14:36:48,11.083333
30,309,C41418,punto2_to_punto5,2015-07-27 14:44:57,2015-07-27 14:54:54,9.950000
12,178,A41017,punto2_to_punto5,2015-07-27 15:05:10,2015-07-27 15:15:40,10.500000
5,178,A41463,punto2_to_punto5,2015-07-27 15:17:01,2015-07-27 15:25:49,8.800000
18,178,A41047,punto2_to_punto5,2015-07-27 15:17:54,2015-07-27 15:28:11,10.283333
51,316,C41424,punto2_to_punto5,2015-07-27 15:18:01,2015-07-27 15:29:06,11.083333
40,309,C41381,punto2_to_punto5,2015-07-27 15:26:07,2015-07-27 15:36:37,10.500000
47,309,C41093,punto2_to_punto5,2015-07-27 15:43:45,2015-07-27 15:50:45,7.000000
0,178,A41454,punto2_to_punto5,2015-07-27 15:48:03,2015-07-27 15:56:48,8.750000
22,178,A41458,punto2_to_punto5,2015-07-27 16:06:02,2015-07-27 16:18:51,12.816667
14,178,A41289,punto2_to_punto5,2015-07-27 16:11:01,2015-07-27 16:23:56,12.916667
36,309,C41410,punto2_to_punto5,2015-07-27 16:14:45,2015-07-27 16:29:55,15.166667
55,317,C41415,punto2_to_punto5,2015-07-27 16:15:03,2015-07-27 16:24:03,9.000000
24,309,C41409,punto2_to_punto5,2015-07-27 16:24:50,2015-07-27 16:38:50,14.000000
8,178,A41465,punto2_to_punto5,2015-07-27 16:32:11,2015-07-27 16:42:06,9.916667
52,316,C41423,punto2_to_punto5,2015-07-27 16:34:51,2015-07-27 16:48:51,14.000000
27,309,C41412,punto2_to_punto5,2015-07-27 16:39:19,2015-07-27 16:49:49,10.500000
7,178,A41460,punto2_to_punto5,2015-07-27 17:13:02,2015-07-27 17:25:52,12.833333
43,309,C41392,punto2_to_punto5,2015-07-27 17:24:51,2015-07-27 17:34:11,9.333333
34,309,C41407,punto2_to_punto5,2015-07-27 17:25:48,2015-07-27 17:34:49,9.016667
1,178,A41455,punto2_to_punto5,2015-07-27 17:26:09,2015-07-27 17:33:43,7.566667
50,309,C41406,punto2_to_punto5,2015-07-27 17:50:31,2015-07-27 17:58:38,8.116667
4,178,A41456,punto2_to_punto5,2015-07-27 18:29:51,2015-07-27 18:38:00,8.150000
31,309,C41418,punto2_to_punto5,2015-07-27 18:33:49,2015-07-27 18:41:59,8.166667
53,316,C41425,punto2_to_punto5,2015-07-27 18:51:04,2015-07-27 18:58:04,7.000000
25,309,C41411,punto2_to_punto5,2015-07-27 18:52:41,2015-07-27 18:58:03,5.366667
13,178,A41017,punto2_to_punto5,2015-07-27 19:37:02,2015-07-27 19:42:52,5.833333
48,309,C41093,punto2_to_punto5,2015-07-27 19:52:05,2015-07-27 19:57:55,5.833333
39,309,C41383,punto2_to_punto5,2015-07-27 19:56:56,2015-07-27 20:02:47,5.850000
19,178,A41047,punto2_to_punto5,2015-07-27 20:08:59,2015-07-27 20:19:50,10.850000
37,309,C41410,punto2_to_punto5,2015-07-27 20:52:00,2015-07-27 20:59:01,7.016667
32,309,C41418,punto2_to_punto5,2015-07-27 23:21:36,2015-07-27 23:27:39,6.050000
35,309,C41407,punto2_to_punto5,2015-07-27 23:46:05,2015-07-27 23:49:43,3.633333

In [221]:
#Computando tiempo medio de viaje por horario del dia en esos dias y ese tramo
mean_time_27072015_2_5 = mean_travel_time(sorted_a_27072015_2_5, intervals)
mean_time_27072015_2_5

             Segment        Time_Interval  Mean_Travel_Time
0   punto2_to_punto5  00:00:00 - 05:00:00          4.000000
1   punto2_to_punto5  05:00:00 - 06:00:00          0.000000
2   punto2_to_punto5  06:00:00 - 07:00:00          0.000000
3   punto2_to_punto5  07:00:00 - 08:00:00          8.416667
4   punto2_to_punto5  08:00:00 - 09:00:00          9.216667
5   punto2_to_punto5  09:00:00 - 10:00:00          9.708333
6   punto2_to_punto5  10:00:00 - 11:00:00         11.200000
7   punto2_to_punto5  11:00:00 - 12:00:00         14.058333
8   punto2_to_punto5  12:00:00 - 13:00:00          8.516667
9   punto2_to_punto5  13:00:00 - 14:00:00          6.991667
10  punto2_to_punto5  14:00:00 - 15:00:00          9.822222
11  punto2_to_punto5  15:00:00 - 16:00:00          9.559524
12  punto2_to_punto5  16:00:00 - 17:00:00         12.289583
13  punto2_to_punto5  17:00:00 - 19:00:00          8.394444
14  punto2_to_punto5  19:00:00 - 20:00:00          5.838889
15  punto2_to_punto5  20:00:00 - 21:00:00          8.933333
16  punto2_to_punto5  21:00:00 - 22:00:00          0.000000
17  punto2_to_punto5  22:00:00 - 23:00:00          0.000000
18  punto2_to_punto5  23:00:00 - 23:59:59          4.841667

In [222]:
#Computando tiempo medio de viaje por horario del dia en esos dias y ese tramo
mean_time_03082015_2_5 = mean_travel_time(sorted_a_03082015_2_5, intervals)
mean_time_03082015_2_5

             Segment        Time_Interval  Mean_Travel_Time
0   punto2_to_punto5  00:00:00 - 05:00:00          0.000000
1   punto2_to_punto5  05:00:00 - 06:00:00          0.000000
2   punto2_to_punto5  06:00:00 - 07:00:00          5.866667
3   punto2_to_punto5  07:00:00 - 08:00:00          0.000000
4   punto2_to_punto5  08:00:00 - 09:00:00          9.743333
5   punto2_to_punto5  09:00:00 - 10:00:00          0.000000
6   punto2_to_punto5  10:00:00 - 11:00:00         13.366667
7   punto2_to_punto5  11:00:00 - 12:00:00         14.016667
8   punto2_to_punto5  12:00:00 - 13:00:00         12.333333
9   punto2_to_punto5  13:00:00 - 14:00:00          9.300000
10  punto2_to_punto5  14:00:00 - 15:00:00          8.895833
11  punto2_to_punto5  15:00:00 - 16:00:00         11.316667
12  punto2_to_punto5  16:00:00 - 17:00:00         14.227778
13  punto2_to_punto5  17:00:00 - 19:00:00         10.343750
14  punto2_to_punto5  19:00:00 - 20:00:00          8.504167
15  punto2_to_punto5  20:00:00 - 21:00:00          7.666667
16  punto2_to_punto5  21:00:00 - 22:00:00          0.000000
17  punto2_to_punto5  22:00:00 - 23:00:00          6.050000
18  punto2_to_punto5  23:00:00 - 23:59:59          7.550000

In [223]:
#Computando tiempo medio de viaje por horario del dia en esos dias y ese tramo
mean_time_10082015_2_5 = mean_travel_time(sorted_a_10082015_2_5, intervals)
mean_time_10082015_2_5

             Segment        Time_Interval  Mean_Travel_Time
0   punto2_to_punto5  00:00:00 - 05:00:00          0.000000
1   punto2_to_punto5  05:00:00 - 06:00:00          0.000000
2   punto2_to_punto5  06:00:00 - 07:00:00          5.566667
3   punto2_to_punto5  07:00:00 - 08:00:00         10.503333
4   punto2_to_punto5  08:00:00 - 09:00:00          9.783333
5   punto2_to_punto5  09:00:00 - 10:00:00         13.222222
6   punto2_to_punto5  10:00:00 - 11:00:00         19.446667
7   punto2_to_punto5  11:00:00 - 12:00:00         23.850000
8   punto2_to_punto5  12:00:00 - 13:00:00         16.583333
9   punto2_to_punto5  13:00:00 - 14:00:00         12.811111
10  punto2_to_punto5  14:00:00 - 15:00:00         11.916667
11  punto2_to_punto5  15:00:00 - 16:00:00         14.087500
12  punto2_to_punto5  16:00:00 - 17:00:00         13.841667
13  punto2_to_punto5  17:00:00 - 19:00:00         10.497222
14  punto2_to_punto5  19:00:00 - 20:00:00          9.050000
15  punto2_to_punto5  20:00:00 - 21:00:00          7.061111
16  punto2_to_punto5  21:00:00 - 22:00:00          6.422222
17  punto2_to_punto5  22:00:00 - 23:00:00          0.000000
18  punto2_to_punto5  23:00:00 - 23:59:59          0.000000

In [224]:
#Computando tiempo medio de viaje por horario del dia en esos dias y ese tramo
mean_time_17082015_2_5 = mean_travel_time(sorted_a_17082015_2_5, intervals)
mean_time_17082015_2_5

             Segment        Time_Interval  Mean_Travel_Time
0   punto2_to_punto5  00:00:00 - 05:00:00          7.183333
1   punto2_to_punto5  05:00:00 - 06:00:00          5.233333
2   punto2_to_punto5  06:00:00 - 07:00:00          7.691667
3   punto2_to_punto5  07:00:00 - 08:00:00          9.538889
4   punto2_to_punto5  08:00:00 - 09:00:00         15.035714
5   punto2_to_punto5  09:00:00 - 10:00:00         21.650000
6   punto2_to_punto5  10:00:00 - 11:00:00         21.875000
7   punto2_to_punto5  11:00:00 - 12:00:00         24.063333
8   punto2_to_punto5  12:00:00 - 13:00:00         26.275000
9   punto2_to_punto5  13:00:00 - 14:00:00         15.166667
10  punto2_to_punto5  14:00:00 - 15:00:00         18.083333
11  punto2_to_punto5  15:00:00 - 16:00:00         15.076190
12  punto2_to_punto5  16:00:00 - 17:00:00         14.831818
13  punto2_to_punto5  17:00:00 - 19:00:00         11.633333
14  punto2_to_punto5  19:00:00 - 20:00:00          7.972222
15  punto2_to_punto5  20:00:00 - 21:00:00          6.611111
16  punto2_to_punto5  21:00:00 - 22:00:00          4.666667
17  punto2_to_punto5  22:00:00 - 23:00:00          7.000000
18  punto2_to_punto5  23:00:00 - 23:59:59          0.000000

In [233]:
#codigo para mostrar en la web
#Graficando el tiempo para atravesar el tramo 2-5 todos los dias analizados 27/07, 03/08, 10/08, 17/08
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.graph_objs as go
py.sign_in( 'kathrinr','ruz0yioat7')

trace = go.Scatter( x = intervals , y = mean_time_27072015_2_5['Mean_Travel_Time'] , mode = 'lines',
    name = 'July 27, 2015')
trace0 = go.Scatter( x = intervals, y = mean_time_03082015_2_5['Mean_Travel_Time'] , mode = 'lines',
    name = 'Agust 03, 2015')
trace1 = go.Scatter( x = intervals, y = mean_time_10082015_2_5['Mean_Travel_Time'] , mode = 'lines',
    name = 'Agust 10, 2015')
trace2 = go.Scatter( x = intervals, y = mean_time_17082015_2_5['Mean_Travel_Time'] , mode = 'lines',
    name = 'Agust 17, 2015')

layout = go.Layout(
    title='Jardin Botánico',
    xaxis=dict(
        title='Time of day intervals (timestamp)',
        titlefont=dict(
            family='Arial',
            size=18,
            color='black'
        ),
        
        exponentformat='e',
        showexponent='All'
    ),
    yaxis=dict(
        title='Traverse Time (minutes)',
        titlefont=dict(
            family='Arial',
            size=18,
            color='black'
        ),
        
        exponentformat='e',
        showexponent='All'
    )
)
data = Data([trace, trace0, trace1, trace2])
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='axes-labels')

#Para la web solo hay que ponerle
#py.plot(fig, filename='axes-labels')

In [75]:
#Segment 1-4

Punto1 = (-22.978424,-43.226245)
Punto4 = (-22.992352,-43.251817)


#Poligono del Tramo 1-4
PtoD = (-22.97652992225726, -43.225064277648926)
invert_D = (-43.225064277648926,-22.97652992225726)

PtoE = (-22.979572207918846, -43.22399139404297)
invert_E = (-43.22399139404297,-22.979572207918846)

PtoF = (-22.97976975656747, -43.22648048400879)
invert_F = (-43.22648048400879,-22.97976975656747)

PtoG = (-22.980322891247027, -43.22948455810547)
invert_G = (-43.22948455810547,-22.980322891247027)

PtoH = (-22.983088530676266, -43.23351860046387)
invert_H = (-43.23351860046387,-22.983088530676266)

PtoI = (-22.98466887064438, -43.237338066101074)
invert_I = (-43.237338066101074,-22.98466887064438)

PtoJ = (-22.988066538967807, -43.23974132537842)
invert_J = (-43.23974132537842,-22.988066538967807)

PtoK = (-22.99213572691421, -43.243088722229004)
invert_K = (-43.243088722229004,-22.99213572691421)

PtoL = (-22.993478927085018, -43.25141429901123)
invert_L = (-43.25141429901123,-22.993478927085018)

PtoM = (-22.99110856482697, -43.251543045043945)
invert_M = (-43.251543045043945,-22.99110856482697)

PtoN = (-22.989488793353278, -43.244333267211914)
invert_N = (-43.244333267211914,-22.989488793353278)

PtoO = (-22.986446731008904, -43.24167251586914)
invert_O = (-43.24167251586914,-22.986446731008904)

PtoP = (-22.982930495662618, -43.23918342590332)
invert_P = (-43.23918342590332,-22.982930495662618)

PtoQ = (-22.980362400780347, -43.234333992004395)
invert_Q = (-43.234333992004395,-22.980362400780347)

PtoR = (-22.978031318546922, -43.229827880859375)
invert_R = (-43.229827880859375,-22.978031318546922)

PtoS = (-22.977043559707305, -43.226823806762695)
invert_S = (-43.226823806762695,-22.977043559707305)

PtoT = (-22.991977702486263, -43.253324031829834)
invert_T = (-43.253324031829834, -22.991977702486263)

PtoU = (-22.99419002764833, -43.2527232170105)
invert_U = (-43.2527232170105,-22.99419002764833)


inverted_polygon_1_4 = [invert_D,invert_E,invert_F,invert_G,invert_H,invert_I,invert_J,invert_K,invert_L,invert_M,invert_N,invert_O,invert_P,invert_Q,invert_R,invert_S, invert_T, invert_U ]

In [76]:
# testing para tramo 1-4 dia '27-07-2015'
a_27072015_1_4 = segment_travel_time(Punto1,Punto4,"punto1", "punto4", '27-07-2015')
sorted_a_27072015_1_4 = a_27072015_1_4.sort('Arrive_Hour')
sorted_a_27072015_1_4

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
6,177,A63508,punto1_to_punto4,2015-07-27 07:12:12,2015-07-27 07:16:42,4.500000
8,177,A63501,punto1_to_punto4,2015-07-27 07:19:02,2015-07-27 07:23:32,4.500000
10,177,A63528,punto1_to_punto4,2015-07-27 07:39:56,2015-07-27 07:44:56,5.000000
12,177,A63509,punto1_to_punto4,2015-07-27 07:57:09,2015-07-27 08:01:39,4.500000
4,172,A55127,punto1_to_punto4,2015-07-27 08:07:09,2015-07-27 08:12:39,5.500000
13,177,A63530,punto1_to_punto4,2015-07-27 08:34:26,2015-07-27 08:38:26,4.000000
0,172,A41273,punto1_to_punto4,2015-07-27 08:49:53,2015-07-27 08:53:58,4.083333
14,177,A63541,punto1_to_punto4,2015-07-27 08:50:30,2015-07-27 08:54:30,4.000000
1,172,A41269,punto1_to_punto4,2015-07-27 09:00:40,2015-07-27 09:05:01,4.350000
26,309,C41392,punto1_to_punto4,2015-07-27 09:07:36,2015-07-27 09:12:51,5.250000
2,172,A55157,punto1_to_punto4,2015-07-27 09:10:27,2015-07-27 09:14:02,3.583333
5,172,A41302,punto1_to_punto4,2015-07-27 09:20:15,2015-07-27 09:24:55,4.666667
15,177,A63505,punto1_to_punto4,2015-07-27 09:35:04,2015-07-27 09:39:29,4.416667
3,172,A41270,punto1_to_punto4,2015-07-27 09:35:32,2015-07-27 09:39:49,4.283333
7,177,A63508,punto1_to_punto4,2015-07-27 09:40:12,2015-07-27 09:45:42,5.500000
9,177,A63501,punto1_to_punto4,2015-07-27 09:55:02,2015-07-27 10:00:32,5.500000
23,309,C41407,punto1_to_punto4,2015-07-27 09:55:34,2015-07-27 09:59:39,4.083333
31,316,C41429,punto1_to_punto4,2015-07-27 09:56:25,2015-07-27 10:00:45,4.333333
27,309,C41395,punto1_to_punto4,2015-07-27 09:59:33,2015-07-27 10:03:01,3.466667
11,177,A63528,punto1_to_punto4,2015-07-27 10:11:53,2015-07-27 10:16:23,4.500000
16,177,A63542,punto1_to_punto4,2015-07-27 10:12:39,2015-07-27 10:16:39,4.000000
32,316,C41423,punto1_to_punto4,2015-07-27 11:07:28,2015-07-27 11:11:49,4.350000
28,309,C41093,punto1_to_punto4,2015-07-27 12:27:20,2015-07-27 12:32:09,4.816667
17,178,A41460,punto1_to_punto4,2015-07-27 13:47:32,2015-07-27 13:51:37,4.083333
24,309,C41407,punto1_to_punto4,2015-07-27 14:03:47,2015-07-27 14:07:48,4.016667
18,178,A41027,punto1_to_punto4,2015-07-27 14:29:46,2015-07-27 14:33:44,3.966667
22,309,C41405,punto1_to_punto4,2015-07-27 14:34:47,2015-07-27 14:40:02,5.250000
19,178,A41047,punto1_to_punto4,2015-07-27 15:30:51,2015-07-27 15:34:57,4.100000
20,309,C41409,punto1_to_punto4,2015-07-27 16:39:59,2015-07-27 16:44:38,4.650000
21,309,C41418,punto1_to_punto4,2015-07-27 18:43:46,2015-07-27 18:48:59,5.216667
30,309,C41381,punto1_to_punto4,2015-07-27 19:38:28,2015-07-27 19:43:43,5.250000
29,309,C41383,punto1_to_punto4,2015-07-27 20:04:32,2015-07-27 20:11:31,6.983333
25,309,C41410,punto1_to_punto4,2015-07-27 21:00:30,2015-07-27 21:05:00,4.500000

In [78]:
# testing para tramo 1-4 dia '03-08-2015'
a_03082015_1_4 = segment_travel_time(Punto1,Punto4,"punto1", "punto4", '03-08-2015')
sorted_a_03082015_1_4 = a_03082015_1_4.sort('Arrive_Hour')
sorted_a_03082015_1_4

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
27,550,C30244,punto1_to_punto4,2015-08-03 00:33:49,2015-08-03 00:38:59,5.166667
34,550,C30201,punto1_to_punto4,2015-08-03 00:37:01,2015-08-03 01:08:00,30.983333
31,550,C30194,punto1_to_punto4,2015-08-03 00:40:51,2015-08-03 00:45:51,5.000000
89,565,C30232,punto1_to_punto4,2015-08-03 00:57:02,2015-08-03 01:01:23,4.350000
33,550,C30195,punto1_to_punto4,2015-08-03 00:57:03,2015-08-03 01:02:13,5.166667
36,550,C30043,punto1_to_punto4,2015-08-03 01:17:52,2015-08-03 01:22:03,4.183333
37,550,C30272,punto1_to_punto4,2015-08-03 01:28:08,2015-08-03 01:33:09,5.016667
90,565,C30188,punto1_to_punto4,2015-08-03 01:33:01,2015-08-03 01:39:01,6.000000
92,565,C30187,punto1_to_punto4,2015-08-03 01:38:07,2015-08-03 02:04:07,26.000000
32,550,C30194,punto1_to_punto4,2015-08-03 02:13:01,2015-08-03 02:17:41,4.666667
93,565,C30125,punto1_to_punto4,2015-08-03 02:14:44,2015-08-03 02:19:44,5.000000
30,550,C30174,punto1_to_punto4,2015-08-03 02:25:04,2015-08-03 02:29:04,4.000000
87,565,C30267,punto1_to_punto4,2015-08-03 02:32:04,2015-08-03 02:35:04,3.000000
88,565,C30173,punto1_to_punto4,2015-08-03 02:44:53,2015-08-03 03:03:53,19.000000
38,550,C30168,punto1_to_punto4,2015-08-03 03:19:16,2015-08-03 03:24:07,4.850000
91,565,C30188,punto1_to_punto4,2015-08-03 03:51:03,2015-08-03 03:55:05,4.033333
7,177,A63505,punto1_to_punto4,2015-08-03 04:45:41,2015-08-03 04:50:38,4.950000
41,550,C30014,punto1_to_punto4,2015-08-03 04:52:05,2015-08-03 04:55:55,3.833333
44,550,C30141,punto1_to_punto4,2015-08-03 05:08:58,2015-08-03 05:12:58,4.000000
46,550,C30266,punto1_to_punto4,2015-08-03 05:36:13,2015-08-03 05:41:23,5.166667
45,550,C30013,punto1_to_punto4,2015-08-03 05:39:49,2015-08-03 05:43:49,4.000000
95,565,C30076,punto1_to_punto4,2015-08-03 05:52:14,2015-08-03 05:56:14,4.000000
50,550,C30172,punto1_to_punto4,2015-08-03 05:55:08,2015-08-03 06:11:01,15.883333
51,550,C30198,punto1_to_punto4,2015-08-03 06:06:00,2015-08-03 06:21:53,15.883333
96,565,C30249,punto1_to_punto4,2015-08-03 06:12:09,2015-08-03 06:28:09,16.000000
97,565,C30178,punto1_to_punto4,2015-08-03 06:32:50,2015-08-03 06:46:51,14.016667
42,550,C30014,punto1_to_punto4,2015-08-03 06:51:57,2015-08-03 06:56:06,4.150000
4,172,A41164,punto1_to_punto4,2015-08-03 07:20:59,2015-08-03 07:24:58,3.983333
9,177,A63543,punto1_to_punto4,2015-08-03 07:28:57,2015-08-03 07:33:00,4.050000
10,177,A63508,punto1_to_punto4,2015-08-03 07:39:57,2015-08-03 07:43:55,3.966667
...,...,...,...,...,...,...
109,565,C30096,punto1_to_punto4,2015-08-03 19:58:03,2015-08-03 20:29:03,31.000000
137,565,C30339,punto1_to_punto4,2015-08-03 20:08:03,2015-08-03 20:14:57,6.900000
104,565,C30213,punto1_to_punto4,2015-08-03 20:13:52,2015-08-03 20:18:51,4.983333
138,565,C30071,punto1_to_punto4,2015-08-03 20:14:58,2015-08-03 20:39:00,24.033333
141,565,C30345,punto1_to_punto4,2015-08-03 20:30:58,2015-08-03 20:56:08,25.166667
130,565,C30135,punto1_to_punto4,2015-08-03 20:38:05,2015-08-03 20:42:56,4.850000
140,565,C30344,punto1_to_punto4,2015-08-03 20:50:16,2015-08-03 20:55:36,5.333333
132,565,C30079,punto1_to_punto4,2015-08-03 20:56:08,2015-08-03 21:28:08,32.000000
136,565,C30218,punto1_to_punto4,2015-08-03 21:04:58,2015-08-03 21:08:58,4.000000
117,565,C30139,punto1_to_punto4,2015-08-03 21:09:02,2015-08-03 21:13:02,4.000000
142,565,C30184,punto1_to_punto4,2015-08-03 21:16:02,2015-08-03 21:19:53,3.850000
106,565,C30078,punto1_to_punto4,2015-08-03 21:30:59,2015-08-03 21:34:59,4.000000
62,550,C30166,punto1_to_punto4,2015-08-03 21:41:04,2015-08-03 21:45:04,4.000000
143,565,C30346,punto1_to_punto4,2015-08-03 21:41:04,2015-08-03 21:46:04,5.000000
49,550,C30268,punto1_to_punto4,2015-08-03 21:42:05,2015-08-03 22:14:07,32.033333
134,565,C30331,punto1_to_punto4,2015-08-03 21:45:15,2015-08-03 21:50:15,5.000000
83,550,C30334,punto1_to_punto4,2015-08-03 21:49:56,2015-08-03 22:08:56,19.000000
123,565,C30180,punto1_to_punto4,2015-08-03 22:07:03,2015-08-03 22:13:03,6.000000
145,565,C30160,punto1_to_punto4,2015-08-03 22:12:08,2015-08-03 22:16:51,4.716667
80,550,C30332,punto1_to_punto4,2015-08-03 22:14:53,2015-08-03 22:19:53,5.000000
144,565,C30348,punto1_to_punto4,2015-08-03 22:18:06,2015-08-03 22:26:06,8.000000
146,565,C30222,punto1_to_punto4,2015-08-03 22:27:05,2015-08-03 22:31:57,4.866667
85,550,C30205,punto1_to_punto4,2015-08-03 22:38:53,2015-08-03 22:42:53,4.000000
110,565,C30096,punto1_to_punto4,2015-08-03 22:40:04,2015-08-03 22:45:05,5.016667
139,565,C30071,punto1_to_punto4,2015-08-03 22:56:02,2015-08-03 22:59:02,3.000000
147,565,C30204,punto1_to_punto4,2015-08-03 23:02:07,2015-08-03 23:07:07,5.000000
65,550,C30173,punto1_to_punto4,2015-08-03 23:06:02,2015-08-03 23:12:03,6.016667
79,550,C30193,punto1_to_punto4,2015-08-03 23:19:22,2015-08-03 23:26:22,7.000000
67,550,C30015,punto1_to_punto4,2015-08-03 23:29:05,2015-08-03 23:33:06,4.016667
86,550,C30079,punto1_to_punto4,2015-08-03 23:40:08,2015-08-03 23:44:07,3.983333

In [81]:
# testing para tramo 1-4 dia '10-08-2015'
a_10082015_1_4 = segment_travel_time(Punto1,Punto4,"punto1", "punto4", '10-08-2015')
sorted_a_10082015_1_4 = a_10082015_1_4.sort('Arrive_Hour')
sorted_a_10082015_1_4

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
44,550,C30153,punto1_to_punto4,2015-08-10 00:09:13,2015-08-10 00:14:03,4.833333
7,177,A63527,punto1_to_punto4,2015-08-10 00:11:11,2015-08-10 00:16:11,5.000000
111,565,C30157,punto1_to_punto4,2015-08-10 00:33:53,2015-08-10 00:37:53,4.000000
114,565,C30130,punto1_to_punto4,2015-08-10 01:01:18,2015-08-10 01:06:18,5.000000
51,550,C30196,punto1_to_punto4,2015-08-10 01:06:04,2015-08-10 01:11:04,5.000000
52,550,C30215,punto1_to_punto4,2015-08-10 01:29:04,2015-08-10 01:44:05,15.016667
110,565,C30188,punto1_to_punto4,2015-08-10 01:42:10,2015-08-10 02:06:20,24.166667
45,550,C30187,punto1_to_punto4,2015-08-10 01:58:02,2015-08-10 02:12:12,14.166667
38,550,C30146,punto1_to_punto4,2015-08-10 02:00:58,2015-08-10 02:04:57,3.983333
112,565,C30157,punto1_to_punto4,2015-08-10 02:14:53,2015-08-10 02:40:53,26.000000
48,550,C30172,punto1_to_punto4,2015-08-10 02:18:01,2015-08-10 02:21:02,3.016667
50,550,C30171,punto1_to_punto4,2015-08-10 02:43:00,2015-08-10 02:57:02,14.033333
115,565,C30130,punto1_to_punto4,2015-08-10 03:06:45,2015-08-10 03:23:55,17.166667
55,550,C30168,punto1_to_punto4,2015-08-10 03:13:50,2015-08-10 03:24:52,11.033333
58,550,C30143,punto1_to_punto4,2015-08-10 03:35:52,2015-08-10 03:40:53,5.016667
116,565,C30199,punto1_to_punto4,2015-08-10 03:54:10,2015-08-10 03:59:10,5.000000
117,565,C30137,punto1_to_punto4,2015-08-10 04:43:15,2015-08-10 05:00:26,17.183333
56,550,C30168,punto1_to_punto4,2015-08-10 05:08:55,2015-08-10 05:13:54,4.983333
63,550,C30188,punto1_to_punto4,2015-08-10 05:17:48,2015-08-10 05:21:58,4.166667
0,172,A55077,punto1_to_punto4,2015-08-10 05:19:00,2015-08-10 05:23:00,4.000000
119,565,C30078,punto1_to_punto4,2015-08-10 05:24:17,2015-08-10 05:39:18,15.016667
64,550,C30019,punto1_to_punto4,2015-08-10 05:27:10,2015-08-10 05:39:10,12.000000
65,550,C30037,punto1_to_punto4,2015-08-10 05:55:27,2015-08-10 05:59:58,4.516667
121,565,C30341,punto1_to_punto4,2015-08-10 05:58:55,2015-08-10 06:04:05,5.166667
68,550,C30268,punto1_to_punto4,2015-08-10 06:11:57,2015-08-10 06:16:07,4.166667
46,550,C30187,punto1_to_punto4,2015-08-10 06:12:06,2015-08-10 06:24:07,12.016667
3,172,A41273,punto1_to_punto4,2015-08-10 06:29:06,2015-08-10 06:33:11,4.083333
71,550,C30275,punto1_to_punto4,2015-08-10 06:33:13,2015-08-10 06:37:13,4.000000
4,172,A55155,punto1_to_punto4,2015-08-10 06:40:11,2015-08-10 06:45:11,5.000000
9,177,A63542,punto1_to_punto4,2015-08-10 06:54:52,2015-08-10 06:58:52,4.000000
...,...,...,...,...,...,...
159,565,C30010,punto1_to_punto4,2015-08-10 20:43:50,2015-08-10 20:52:51,9.016667
102,550,C30249,punto1_to_punto4,2015-08-10 20:43:54,2015-08-10 20:53:04,9.166667
89,550,C30173,punto1_to_punto4,2015-08-10 20:43:57,2015-08-10 20:50:56,6.983333
76,550,C30090,punto1_to_punto4,2015-08-10 20:44:10,2015-08-10 20:51:11,7.016667
163,565,C30218,punto1_to_punto4,2015-08-10 20:50:51,2015-08-10 20:58:52,8.016667
130,565,C30178,punto1_to_punto4,2015-08-10 20:56:49,2015-08-10 21:04:49,8.000000
160,565,C30092,punto1_to_punto4,2015-08-10 21:00:57,2015-08-10 21:07:57,7.000000
162,565,C30184,punto1_to_punto4,2015-08-10 21:02:14,2015-08-10 21:08:44,6.500000
87,550,C30244,punto1_to_punto4,2015-08-10 21:02:19,2015-08-10 21:10:19,8.000000
167,565,C30330,punto1_to_punto4,2015-08-10 21:15:20,2015-08-10 21:21:20,6.000000
97,550,C30287,punto1_to_punto4,2015-08-10 21:19:10,2015-08-10 21:23:40,4.500000
60,550,C30203,punto1_to_punto4,2015-08-10 21:21:14,2015-08-10 21:25:14,4.000000
169,565,C30040,punto1_to_punto4,2015-08-10 21:25:49,2015-08-10 21:32:00,6.183333
164,565,C30332,punto1_to_punto4,2015-08-10 21:38:51,2015-08-10 21:44:01,5.166667
41,550,C30201,punto1_to_punto4,2015-08-10 21:40:53,2015-08-10 21:46:13,5.333333
166,565,C30186,punto1_to_punto4,2015-08-10 21:47:19,2015-08-10 21:53:19,6.000000
170,565,C30263,punto1_to_punto4,2015-08-10 21:58:10,2015-08-10 22:03:20,5.166667
171,565,C30306,punto1_to_punto4,2015-08-10 22:02:49,2015-08-10 22:06:50,4.016667
151,565,C30295,punto1_to_punto4,2015-08-10 22:27:07,2015-08-10 22:32:06,4.983333
113,565,C30145,punto1_to_punto4,2015-08-10 22:36:05,2015-08-10 22:40:25,4.333333
106,550,C30315,punto1_to_punto4,2015-08-10 22:40:11,2015-08-10 22:45:11,5.000000
86,550,C30125,punto1_to_punto4,2015-08-10 22:45:52,2015-08-10 22:50:52,5.000000
172,565,C30223,punto1_to_punto4,2015-08-10 22:46:11,2015-08-10 22:51:02,4.850000
92,550,C30338,punto1_to_punto4,2015-08-10 23:12:55,2015-08-10 23:47:55,35.000000
165,565,C30313,punto1_to_punto4,2015-08-10 23:17:53,2015-08-10 23:29:53,12.000000
108,550,C30092,punto1_to_punto4,2015-08-10 23:18:58,2015-08-10 23:23:58,5.000000
109,550,C30335,punto1_to_punto4,2015-08-10 23:29:12,2015-08-10 23:33:12,4.000000
173,565,C30154,punto1_to_punto4,2015-08-10 23:36:55,2015-08-10 23:40:55,4.000000
62,550,C30014,punto1_to_punto4,2015-08-10 23:36:57,2015-08-10 23:40:57,4.000000
168,565,C30330,punto1_to_punto4,2015-08-10 23:43:50,2015-08-10 23:47:50,4.000000

In [83]:
# testing para tramo 1-4 dia '17-08-2015'
a_17082015_1_4 = segment_travel_time(Punto1,Punto4,"punto1", "punto4", '17-08-2015')
sorted_a_17082015_1_4 = a_17082015_1_4.sort('Arrive_Hour')
sorted_a_17082015_1_4

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Line,Bus_Id,Segment,Arrive_Hour,Departure_Hour,Travel_Segment_Time
34,550,C30002,punto1_to_punto4,2015-08-17 00:02:16,2015-08-17 00:07:17,5.016667
35,550,C30225,punto1_to_punto4,2015-08-17 00:06:21,2015-08-17 00:37:54,31.550000
106,565,C30246,punto1_to_punto4,2015-08-17 00:12:58,2015-08-17 00:26:08,13.166667
37,550,C30035,punto1_to_punto4,2015-08-17 00:19:50,2015-08-17 00:24:00,4.166667
5,177,A63538,punto1_to_punto4,2015-08-17 00:26:39,2015-08-17 00:33:09,6.500000
42,550,C30291,punto1_to_punto4,2015-08-17 00:43:21,2015-08-17 00:47:22,4.016667
110,565,C30268,punto1_to_punto4,2015-08-17 00:56:55,2015-08-17 01:10:57,14.033333
44,550,C30013,punto1_to_punto4,2015-08-17 00:57:53,2015-08-17 01:24:54,27.016667
40,550,C30175,punto1_to_punto4,2015-08-17 01:01:52,2015-08-17 01:05:52,4.000000
43,550,C30183,punto1_to_punto4,2015-08-17 01:10:55,2015-08-17 01:14:56,4.016667
48,550,C30161,punto1_to_punto4,2015-08-17 01:16:08,2015-08-17 01:43:08,27.000000
112,565,C30143,punto1_to_punto4,2015-08-17 01:23:08,2015-08-17 01:27:07,3.983333
46,550,C30153,punto1_to_punto4,2015-08-17 01:31:05,2015-08-17 01:35:55,4.833333
113,565,C30169,punto1_to_punto4,2015-08-17 01:42:56,2015-08-17 01:47:57,5.016667
39,550,C30242,punto1_to_punto4,2015-08-17 02:26:54,2015-08-17 02:30:54,4.000000
36,550,C30225,punto1_to_punto4,2015-08-17 02:34:55,2015-08-17 02:39:56,5.016667
108,565,C30149,punto1_to_punto4,2015-08-17 02:41:05,2015-08-17 02:44:16,3.183333
41,550,C30175,punto1_to_punto4,2015-08-17 02:52:52,2015-08-17 02:56:52,4.000000
111,565,C30268,punto1_to_punto4,2015-08-17 03:12:10,2015-08-17 03:16:10,4.000000
49,550,C30320,punto1_to_punto4,2015-08-17 03:34:49,2015-08-17 03:38:49,4.000000
114,565,C30169,punto1_to_punto4,2015-08-17 03:38:58,2015-08-17 03:55:59,17.016667
107,565,C30246,punto1_to_punto4,2015-08-17 04:06:11,2015-08-17 04:19:11,13.000000
109,565,C30149,punto1_to_punto4,2015-08-17 04:19:19,2015-08-17 04:46:22,27.050000
115,565,C30203,punto1_to_punto4,2015-08-17 04:33:59,2015-08-17 04:37:58,3.983333
52,550,C30267,punto1_to_punto4,2015-08-17 04:41:09,2015-08-17 04:45:10,4.016667
56,550,C30199,punto1_to_punto4,2015-08-17 05:18:08,2015-08-17 05:22:08,4.000000
120,565,C30293,punto1_to_punto4,2015-08-17 05:18:12,2015-08-17 05:22:12,4.000000
122,565,C30078,punto1_to_punto4,2015-08-17 05:29:13,2015-08-17 05:41:03,11.833333
124,565,C30007,punto1_to_punto4,2015-08-17 05:48:59,2015-08-17 06:00:55,11.933333
60,550,C30019,punto1_to_punto4,2015-08-17 06:10:04,2015-08-17 06:15:04,5.000000
...,...,...,...,...,...,...
33,317,C41406,punto1_to_punto4,2015-08-17 20:11:15,2015-08-17 20:22:20,11.083333
85,550,C30330,punto1_to_punto4,2015-08-17 20:17:54,2015-08-17 20:25:54,8.000000
159,565,C30219,punto1_to_punto4,2015-08-17 20:25:06,2015-08-17 20:32:19,7.216667
173,565,C30060,punto1_to_punto4,2015-08-17 20:25:59,2015-08-17 20:37:49,11.833333
127,565,C30146,punto1_to_punto4,2015-08-17 20:47:09,2015-08-17 20:56:16,9.116667
142,565,C30079,punto1_to_punto4,2015-08-17 20:49:13,2015-08-17 21:01:13,12.000000
162,565,C30348,punto1_to_punto4,2015-08-17 20:56:18,2015-08-17 21:13:18,17.000000
178,565,C30183,punto1_to_punto4,2015-08-17 21:00:55,2015-08-17 21:22:05,21.166667
19,309,C41382,punto1_to_punto4,2015-08-17 21:05:11,2015-08-17 21:26:12,21.016667
145,565,C30177,punto1_to_punto4,2015-08-17 21:11:54,2015-08-17 21:32:55,21.016667
149,565,C30213,punto1_to_punto4,2015-08-17 21:18:00,2015-08-17 21:36:00,18.000000
181,565,C30218,punto1_to_punto4,2015-08-17 21:20:58,2015-08-17 21:52:59,32.016667
98,550,C30273,punto1_to_punto4,2015-08-17 21:25:01,2015-08-17 21:59:02,34.016667
151,565,C30344,punto1_to_punto4,2015-08-17 22:04:16,2015-08-17 22:26:16,22.000000
167,565,C30181,punto1_to_punto4,2015-08-17 22:10:57,2015-08-17 22:35:57,25.000000
103,550,C30172,punto1_to_punto4,2015-08-17 22:11:06,2015-08-17 22:20:07,9.016667
80,550,C30016,punto1_to_punto4,2015-08-17 22:17:54,2015-08-17 22:25:55,8.016667
100,550,C30208,punto1_to_punto4,2015-08-17 22:29:15,2015-08-17 22:37:15,8.000000
182,565,C30241,punto1_to_punto4,2015-08-17 22:35:53,2015-08-17 22:56:42,20.816667
104,550,C30336,punto1_to_punto4,2015-08-17 22:39:07,2015-08-17 22:44:07,5.000000
116,565,C30203,punto1_to_punto4,2015-08-17 22:42:16,2015-08-17 22:48:16,6.000000
132,565,C30071,punto1_to_punto4,2015-08-17 22:46:08,2015-08-17 22:50:08,4.000000
82,550,C30335,punto1_to_punto4,2015-08-17 22:48:04,2015-08-17 22:51:54,3.833333
176,565,C30215,punto1_to_punto4,2015-08-17 23:12:01,2015-08-17 23:15:50,3.816667
97,550,C30266,punto1_to_punto4,2015-08-17 23:22:05,2015-08-17 23:26:05,4.000000
67,550,C30206,punto1_to_punto4,2015-08-17 23:24:13,2015-08-17 23:28:13,4.000000
92,550,C30182,punto1_to_punto4,2015-08-17 23:36:10,2015-08-17 23:40:20,4.166667
143,565,C30079,punto1_to_punto4,2015-08-17 23:43:55,2015-08-17 23:47:55,4.000000
105,550,C30332,punto1_to_punto4,2015-08-17 23:48:00,2015-08-17 23:52:00,4.000000
179,565,C30183,punto1_to_punto4,2015-08-17 23:53:06,2015-08-17 23:58:06,5.000000

In [45]:
"""Funciones para renderizar el mapa en el html"""
from IPython.display import HTML
 
def inline_map(map):
    """
    Embeds the HTML source of the map directly into the IPython notebook.
    
    This method will not work if the map depends on any files (json data). Also this uses
    the HTML5 srcdoc attribute, which may not be supported in all browsers.
    """
    map._build_map()
    return HTML('<iframe srcdoc="{srcdoc}" style="width: 100%; height: 510px; border: none"></iframe>'.format(srcdoc=map.HTML.replace('"', '&quot;')))
 
def embed_map(map, path="map.html"):
    """
    Embeds a linked iframe to the map into the IPython notebook.
    
    Note: this method will not capture the source of the map into the notebook.
    This method should work for all maps (as long as they use relative urls).
    """
    map.create_map(path=path)
    return HTML('<iframe src="files/{path}" style="width: 100%; height: 510px; border: none"></iframe>'.format(path=path))

In [280]:
fmap1_4 = folium.Map(location=[-22.949900 , -43.267262], zoom_start=12)


#Pintando los puntos del poligono
fmap1_4.polygon_marker(PtoD, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoE, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoF, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoG, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoH, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoI, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoJ, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoK, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoL, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoM, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoN, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoO, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoP, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoQ, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoR, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoS, fill_color='red', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoT, fill_color='green', num_sides=4, radius=8)
fmap1_4.polygon_marker(PtoU, fill_color='violet', num_sides=4, radius=8)

fmap1_4.simple_marker(Punto1, popup='Punto1')
fmap1_4.simple_marker(Punto4, popup='Punto4')
   
embed_map(fmap1_4)

In [275]:
#Haciendo los promedios de tiempo de viaje por intervalos del dia
mean_time_17082015_1_4 = mean_travel_time(sorted_a_17082015_1_4, intervals)
mean_time_17082015_1_4

             Segment        Time_Interval  Mean_Travel_Time
0   punto1_to_punto4  00:00:00 - 05:00:00          9.743333
1   punto1_to_punto4  05:00:00 - 06:00:00          7.941667
2   punto1_to_punto4  06:00:00 - 07:00:00         10.052381
3   punto1_to_punto4  07:00:00 - 08:00:00         22.938889
4   punto1_to_punto4  08:00:00 - 09:00:00         27.331481
5   punto1_to_punto4  09:00:00 - 10:00:00         17.446667
6   punto1_to_punto4  10:00:00 - 11:00:00          8.205208
7   punto1_to_punto4  11:00:00 - 12:00:00          5.691667
8   punto1_to_punto4  12:00:00 - 13:00:00         16.262500
9   punto1_to_punto4  13:00:00 - 14:00:00         11.459722
10  punto1_to_punto4  14:00:00 - 15:00:00          8.973333
11  punto1_to_punto4  15:00:00 - 16:00:00          8.070833
12  punto1_to_punto4  16:00:00 - 17:00:00         14.526667
13  punto1_to_punto4  17:00:00 - 19:00:00         17.719231
14  punto1_to_punto4  19:00:00 - 20:00:00         11.035714
15  punto1_to_punto4  20:00:00 - 21:00:00         14.323333
16  punto1_to_punto4  21:00:00 - 22:00:00         24.538889
17  punto1_to_punto4  22:00:00 - 23:00:00         11.168333
18  punto1_to_punto4  23:00:00 - 23:59:59          4.140476

In [276]:
mean_time_10082015_1_4 = mean_travel_time(sorted_a_10082015_1_4, intervals)
mean_time_10082015_1_4

             Segment        Time_Interval  Mean_Travel_Time
0   punto1_to_punto4  00:00:00 - 05:00:00         10.565686
1   punto1_to_punto4  05:00:00 - 06:00:00          7.121429
2   punto1_to_punto4  06:00:00 - 07:00:00          5.544444
3   punto1_to_punto4  07:00:00 - 08:00:00          7.206667
4   punto1_to_punto4  08:00:00 - 09:00:00          4.743750
5   punto1_to_punto4  09:00:00 - 10:00:00          7.046970
6   punto1_to_punto4  10:00:00 - 11:00:00          9.159722
7   punto1_to_punto4  11:00:00 - 12:00:00          9.055556
8   punto1_to_punto4  12:00:00 - 13:00:00          5.016667
9   punto1_to_punto4  13:00:00 - 14:00:00         10.521429
10  punto1_to_punto4  14:00:00 - 15:00:00          9.671212
11  punto1_to_punto4  15:00:00 - 16:00:00          5.747222
12  punto1_to_punto4  16:00:00 - 17:00:00          9.166667
13  punto1_to_punto4  17:00:00 - 19:00:00         12.630435
14  punto1_to_punto4  19:00:00 - 20:00:00         17.481667
15  punto1_to_punto4  20:00:00 - 21:00:00         11.888095
16  punto1_to_punto4  21:00:00 - 22:00:00          5.804545
17  punto1_to_punto4  22:00:00 - 23:00:00          4.697222
18  punto1_to_punto4  23:00:00 - 23:59:59          9.714286

In [277]:
mean_time_03082015_1_4 = mean_travel_time(sorted_a_03082015_1_4, intervals)
mean_time_03082015_1_4

             Segment        Time_Interval  Mean_Travel_Time
0   punto1_to_punto4  00:00:00 - 05:00:00          8.066667
1   punto1_to_punto4  05:00:00 - 06:00:00          6.610000
2   punto1_to_punto4  06:00:00 - 07:00:00         12.512500
3   punto1_to_punto4  07:00:00 - 08:00:00          4.526190
4   punto1_to_punto4  08:00:00 - 09:00:00          7.462821
5   punto1_to_punto4  09:00:00 - 10:00:00          6.023333
6   punto1_to_punto4  10:00:00 - 11:00:00          7.638889
7   punto1_to_punto4  11:00:00 - 12:00:00         11.180952
8   punto1_to_punto4  12:00:00 - 13:00:00          8.897619
9   punto1_to_punto4  13:00:00 - 14:00:00         13.104167
10  punto1_to_punto4  14:00:00 - 15:00:00          7.030000
11  punto1_to_punto4  15:00:00 - 16:00:00         12.466667
12  punto1_to_punto4  16:00:00 - 17:00:00          4.416667
13  punto1_to_punto4  17:00:00 - 19:00:00         12.414167
14  punto1_to_punto4  19:00:00 - 20:00:00         12.946667
15  punto1_to_punto4  20:00:00 - 21:00:00         14.752381
16  punto1_to_punto4  21:00:00 - 22:00:00          8.987037
17  punto1_to_punto4  22:00:00 - 23:00:00          5.075000
18  punto1_to_punto4  23:00:00 - 23:59:59          5.203333

In [278]:
mean_time_27072015_1_4 = mean_travel_time(sorted_a_27072015_1_4, intervals)
mean_time_27072015_1_4

             Segment        Time_Interval  Mean_Travel_Time
0   punto1_to_punto4  00:00:00 - 05:00:00          0.000000
1   punto1_to_punto4  05:00:00 - 06:00:00          0.000000
2   punto1_to_punto4  06:00:00 - 07:00:00          0.000000
3   punto1_to_punto4  07:00:00 - 08:00:00          4.625000
4   punto1_to_punto4  08:00:00 - 09:00:00          4.395833
5   punto1_to_punto4  09:00:00 - 10:00:00          4.493939
6   punto1_to_punto4  10:00:00 - 11:00:00          4.250000
7   punto1_to_punto4  11:00:00 - 12:00:00          4.350000
8   punto1_to_punto4  12:00:00 - 13:00:00          4.816667
9   punto1_to_punto4  13:00:00 - 14:00:00          4.083333
10  punto1_to_punto4  14:00:00 - 15:00:00          4.411111
11  punto1_to_punto4  15:00:00 - 16:00:00          4.100000
12  punto1_to_punto4  16:00:00 - 17:00:00          4.650000
13  punto1_to_punto4  17:00:00 - 19:00:00          5.216667
14  punto1_to_punto4  19:00:00 - 20:00:00          5.250000
15  punto1_to_punto4  20:00:00 - 21:00:00          6.983333
16  punto1_to_punto4  21:00:00 - 22:00:00          4.500000
17  punto1_to_punto4  22:00:00 - 23:00:00          0.000000
18  punto1_to_punto4  23:00:00 - 23:59:59          0.000000

In [279]:
#codigo para mostrar en la web
#Graficando el tiempo para atravesar el tramo 1-4 todos los dias analizados 27/07, 03/08, 10/08, 17/08
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.graph_objs as go
py.sign_in( 'kathrinr','ruz0yioat7')

trace = go.Scatter( x = intervals , y = mean_time_27072015_1_4['Mean_Travel_Time'] , mode = 'lines',
    name = 'July 27, 2015')
trace0 = go.Scatter( x = intervals, y = mean_time_03082015_1_4['Mean_Travel_Time'] , mode = 'lines',
    name = 'Agust 03, 2015')
trace1 = go.Scatter( x = intervals, y = mean_time_10082015_1_4['Mean_Travel_Time'] , mode = 'lines',
    name = 'Agust 10, 2015')
trace2 = go.Scatter( x = intervals, y = mean_time_17082015_1_4['Mean_Travel_Time'] , mode = 'lines',
    name = 'Agust 17, 2015')

layout = go.Layout(
    title='Zuzu Angel Tunel',
    xaxis=dict(
        title='Time of day intervals (timestamp)',
        titlefont=dict(
            family='Arial',
            size=18,
            color='black'
        ),
        
        exponentformat='e',
        showexponent='All'
    ),
    yaxis=dict(
        title='Traverse Time (minutes)',
        titlefont=dict(
            family='Arial',
            size=18,
            color='black'
        ),
        
        exponentformat='e',
        showexponent='All'
    )
)
data = Data([trace, trace0, trace1, trace2])
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='axes-labels')

#Para la web solo hay que ponerle
#py.plot(fig, filename='axes-labels')